{% extends "base2.html" %}
{% block title%}

{%endblock title%}
{%block content%}
<h2 class="display-7 text-warning mt-3 mb-3">О компании</h2>
<div class="container">
    <div class="row">
       
    <div class="row">
        <p  class="text-secondary">Акционерное общество "Шереметьево Безопасность" создано в 1998 году в соответствии с Постановлением коллегии ФАС России «О состоянии защиты гражданской авиации Российской Федерации от актов незаконного вмешательства и мерах по её совершенствованию».</p>
        <p class="text-secondary"> Деятельность Общества подчинена безупречному выполнению Норм, правил и процедур авиационной безопасности на воздушном транспорте, установленных в Российском воздушном законодательстве, а также стандартах ИКАО, ИАТА.</p>
        <p class="text-secondary"> Деятельность Общества подчинена безупречному выполнению Норм, правил и процедур авиационной безопасности на воздушном транспорте, установленных в Российском воздушном законодательстве, а также стандартах ИКАО, ИАТА.</p>
        <p class="text-secondary">Структура собственников: "МАШ" - 55%, Аэрофлот - 45%.</p>
        <p class="text-secondary"> За время работы Общество значительно расширилось, упрочило своё положение на рынке предоставления услуг в области обеспечения авиационной безопасности и имеет всё необходимое для надёжного обнаружения взрывчатых веществ, взрывных устройств, оружия, боеприпасов, колюще-режущих предметов и других запрещённых к провозу предметов и веществ.</p>
        <p class="text-secondary">Главным итогом производственной деятельности АО "Шереметьево Безопасность", за весь период работы, является отсутствие случаев реализации актов незаконного вмешательства (АНВ) в деятельность гражданской авиации в Международном аэропорту «Шереметьево».</p>
        <p class="text-secondary">  Руководством АО "Шереметьево Безопасность" разработан комплекс мер, который четко определяет приоритеты, стратегию и процедуры для решения такой крупномасштабной задачи, как авиационная безопасность. </p>
        
    </div>
    </div>
</div>
{% endblock content%}