{% extends "base_education.html" %}
{% block title%}
{%endblock title%}
{%block content%}
<h3 class ="text-warning text-center">Сведения об образовательной организации</h3>
<div class="conteiner mb-5 mt-5">
    <div class="row">
<p class="text-secondary"><strong>Учебный центр по авиационной и транспортной безопасности (далее УЦ АТБ) </strong>осуществляет обучение авиационного персонала аэропортов, авиакомпаний, иных организаций, работающих в аэропортах по вопросам обеспечения авиационной безопасности, а так же подготовку сил обеспечения транспортной безопасности.</p>
<div class="col-xs-1" align="center">
<img src="{{url_for('static', filename="images/Moscow_cargo.jpg")}}" class="img-fluid w-50 mb-3" >
</div>
<p class="text-secondary">За весь период работы<strong> УЦ АТБ </strong>было подготовлено и переподготовлено свыше<strong> 42000 </strong>специалистов по транспортной (авиационной) безопасности. </p>
<p class="text-secondary"><strong>УЦ АТБ</strong> проводит обучение не только работников АО «Шереметьево Безопасность», но и работников аэропортов, авиапредприятий и эксплуатантов гражданской, осуществляющих свою деятельность в аэропортах Российской Федерации, а также сил обеспечения транспортной безопасности других отраслей транспорта и иных категорий специалистов, связанных с обеспечением безопасности.</p>
    </div>
    <div class="row">
        <p class="text-secondary"><strong>Нашими постоянными клиентами являются такие организации, как:</strong></p>
        <p class="text-secondary">АО «Международный аэропорт Владивосток»
            АО «Международный аэропорт Калуга»
            АО «Международный аэропорт Уфа»
            АО «Международный аэропорт Шереметьево»
            Аэропорт Крайний (Байконур);
            ЗАО «Домодедово Трейнинг»;
            ЗАО «Домодедово ЭрпортАвиэйшнСекъюрити»;
            ЗАО АК «Уфимские авиалинии»;
            ОАО «Аэропорт Анапа»;
            ОАО «Аэропорт Горно-Алтайск»;
            ОАО «Аэропорт Кольцово»;
            ОАО «Аэропорт Сургут»
            ОАО «Белгородское авиапредприятие»;
            ОАО «Международный Аэропорт «Иркутск»;
            ОАО «Международный аэропорт «Пермь»;
            ОАО «Международный Аэропорт Владикавказ»;
            ОАО «Международный аэропорт Волгоград»;
            ОАО «Международный аэропорт Казань»
            ОАО «Международный аэропорт Курумоч»;
            ОАО «Международный аэропорт Сочи»;
            ОАО «Международный аэропорт Ставрополь»;
            ОАО «Омский аэропорт»;
            ОАО «Хабаровский аэропорт»;
            ООО «Авиакомпания «Северо – Запад»;
            ООО «Аэропорт Емельяново»;
            ООО «Аэропорт Москва»;
            ООО «БазелАэро»;
            ООО «Международный аэропорт Сабетта»;
            ООО «Северный ветер»;
            ООО «Техиндустрия»;
            ООО Авиапредприятие «Газпром авиа»
            ПАО «Аэрофлот»
            Республиканское унитарное предприятие «Национальный аэропорт Минск»;
            ФГКУ УВО МВД РФ по Приморскому краю;
            ФГУП «Авиапредприятие «Черемшанка»;
            ФГУП «Аэропорт Южно-Сахалинск»;
            ФГУП «Управление вневедомственной охраны Главное управление Министерства внутренних дел Российской Федерации по городу Москве»;
            ФКП «Аэропорты Севера»;</p>
        <p class="text-secondary"><strong>УЦ АТБ</strong> проводил подготовку сотрудников МВД России, других федеральных ведомств которые были задействованы в обеспечении безопасности на объектах ХХII Олимпийских зимних игр и XI Паралимпийских зимних игр 2014 г. в г. Сочи, Чемпионата мира по футболу 2018 г.</p>
        <p class="text-secondary">Для обучения в УЦ АТБ необходимо заполнить <a class="text-warning" href="{{url_for('education_statement')}}">заявку.</a></p>
    </div>
</div>

{%endblock content%}