{% extends "base_education.html" %}
{% block title%}
{%endblock title%}
{%block content%}
<h3 class ="text-warning text-center mb-3">Доступная среда</h3>
<div class="conteiner">
    <div class="row">
        <p class="text-secondary">В связи с проведением обучения работников, выполняющих работы, к которым предъявляются дополнительные (повышенные) требования безопасности труда, обучение инвалидов и лиц с ограниченными возможностями здоровья не осуществляется.</p>
    </div>
</div>
{%endblock content%}