<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/custom.css')}}">
   
    <script src="https://api-maps.yandex.ru/2.1/?apikey=0acd456c-e2d8-425a-813b-b6d7092c4ac9&lang=ru_RU" type="text/javascript"> </script>
        <script type="text/javascript">
           
            ymaps.ready(init);
            function init(){
                var myMap=new ymaps.Map("map", {
            
                    center:[55.985519, 37.428118],
                    zoom:15
                   
                });
                let myPlacemark = new ymaps.Placemark([55.985519, 37.428118]);
                myMap.geoObjects.add(myPlacemark);
            }
            </script>
   
</head>
<body>
    <main class="mb-5">
    <div id="wrapper">
        {%include 'navigation.html'%}
        
        {%include 'navigation_side.html'%}
        <div class="container">
            {% block content%}{%endblock content%}
        </div>
    </main>
        {% include 'footer.html'%}
    </div>
    
    <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/bootstrap.bundle.js')}}" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
    </html>