{% extends "base2.html" %}
{% block title%}
{%endblock title%}
{%block content%}

<h3 class="text-warning mb-5">Партнерам</h3>
<div class="container">
    <div class="row">
        <h4 class="text-secondary">Оказание услуг организациям
            <a class="btn " data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              <img  class="btn_strelk" src={{url_for('static', filename='images/strelka_niz.png')}}>
            </a>
            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <img class="btn_strelk" src={{url_for('static', filename='images/strelka_verh.png')}}>
            </button>
        </h4>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              <p class="text-secondary">АО "Шереметьево Безопасность" предлагает организациям, задействованным в сфере обеспечения безопасности комплекс услуг, включающий:</p>
              <p class="text-secondary">1. Обеспечение процедуры досмотра с применением технических средств на выставках и массовых мероприятиях.</p>
              <p class="text-secondary">2. Продажа досмотрового оборудования.</p>
              <p class="text-secondary">3. Оказание помощи по обеспечению техническими средствами досмотра на условиях аренды.</p>
              <p class="text-secondary">4. Проведение тематических семинаров по приобретению навыков производства досмотра пассажиров, посетителей и персонала в целях безопасности при допуске в контролируемые зоны.</p>
              <p class="text-secondary">5. Подготовка специалистов служб авиационной безопасности авиапредприятий и авиакомпаний России и стран СНГ в авиационном учебном центре АО "Шереметьево Безопасность" по утвержденным Росавиацией учебным программам с применением новейшего компьютерного тренажера.</p>
              <p class="text-secondary">6. Обслуживание и ремонт досмотрового оборудования.</p>
              <p class="text-secondary">7. Обучение технического персонала по программе "Эксплуатация и обслуживание технических средств досмотра".</p>
              <p class="text-secondary">Тел.: (495) 755-68-07 доб.202
                Факс: +7 (495) 755-68-12</p>
              <p class="text-secondary">e-mail: sb.sekretar@svo.aero</p>
            </div>
          </div>
    </div>
    <div class="row">
        <h4 class="text-secondary">Авиакомпаниям
            <a class="btn " data-bs-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
              <img  class="btn_strelk" src={{url_for('static', filename='images/strelka_niz.png')}}>
            </a>
            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
                <img class="btn_strelk" src={{url_for('static', filename='images/strelka_verh.png')}}>
            </button>
        </h4>
          <div class="collapse" id="collapseExample1">
            <div class="card card-body">
              <p class="text-secondary">Акционерное общество "Шереметьево Безопасность" является лидирующей компанией на рынке услуг по транспортной и авиационной безопасности.
                Многолетний опыт, качество,эффективность и применение новейших мировых технологий в области безопасности позволяют нам оказывать услуги на самом высшем уровне и в соответствии с требованиями всех стандартов Российской Федерации.</p>
              <h5 class="text-secondary">Договор об оказании услуг транспортной и авиационной безопасности</h5>
                <p class="text-secondary">Услуги АО "Шереметьево Безопасность" предоставляются авиаперевозчикам в Международном аэропорту "Шереметьево" на основании договора об оказании услуг, который заключается в письменной форме.
                    Лицо, которое намерено заключить договор об оказании услуг, направляет в АО «Шереметьево Безопасность» заявку в письменной форме на электронные адреса sb.sekretar@svo.aero, us.klokova@svo.aero
                    </p>
                    <h5 class="text-secondary">Основные сведения в заявке об оказании услуг:</h5>
              <p class="text-secondary">1. Планируемое расписание/частота рейсов</p>
              <p class="text-secondary">2. Типы ВС</p>
              <p class="text-secondary">3. Контакты</p>
              <p class="text-secondary">4. Необходимость предоставления дополнительных видов услуг
              </p>
            </div>
          </div>
    </div>
    <div class="row">
        <h4 class="text-secondary">Арендаторам оборудования
            <a class="btn " data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
              <img  class="btn_strelk" src={{url_for('static', filename='images/strelka_niz.png')}}>
            </a>
            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
                <img class="btn_strelk" src={{url_for('static', filename='images/strelka_verh.png')}}>
            </button>
        </h4>
          <div class="collapse" id="collapseExample2">
            <div class="card card-body">
            <p class="text-secondary">АО "Шереметьево Безопасность" предоставляет в аренду следующие технические средства досмотрового оборудования на длительный период:</p>
            <p class="text-secondary">- интроскопы PX (60х40, 80х100)</p>
            <p class="text-secondary">- интроскопы Hi-Scan (51х80, 60х46)</p>
            <p class="text-secondary">- стационарные металлодетектеры</p>
            <p class="text-secondary">- детекторы паров ВВ Пилот-М</p>
            <h5 class="text-secondary">Договор аренды оборудования</h5>
            <p class="text-secondary">АО "Шереметьево Безопасность" предоставляет оборудование в аренду на основании договора, который заключается в письменной форме.</p>
            <p class="text-secondary">Лицо, которое намерено заключить договор аренды, направляет в АО «Шереметьево Безопасность» заявку в письменной форме на электронные адреса <strong> sb.sekretar@svo.aero, us.klokova@svo.aero.</strong></p>
            </div>
        </div>
    </div>
    <div class="row">
        <h4 class="text-secondary">Обслуживание и ремонт оборудования
            <a class="btn " data-bs-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample3">
              <img  class="btn_strelk" src={{url_for('static', filename='images/strelka_niz.png')}}>
            </a>
            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
                <img class="btn_strelk" src={{url_for('static', filename='images/strelka_verh.png')}}>
            </button>
        </h4>
          <div class="collapse" id="collapseExample3">
            <div class="card card-body">
            <p class="text-secondary">АО "Шереметьево Безопасность" оказывает услуги по техническому обслуживанию оборудования:</p>
            <p class="text-secondary">- интроскопов PX</p>
            <p class="text-secondary">- интроскопов Hi-Scan</p>
            <p class="text-secondary">- стационарных металлодетектеров</p>
            <p class="text-secondary">- детекторов паров ВВ</p>
            <p class="text-secondary">АО "Шереметьево Безопасность" оказывает услуги по ремонту оборудования:</p>
            <p class="text-secondary">- интроскопов PX</p>
            <p class="text-secondary">- интроскопов Hi-Scan</p>
            <p class="text-secondary">- стационарных металлодетектеров</p>
            <p class="text-secondary">- детекторов паров ВВ</p>
            <h5 class="text-secondary">Договор оказания услуг по техническому обслуживанию и ремонту оборудования</h5>
            <p class="text-secondary">АО "Шереметьево Безопасность" оказывает услуги по техническому обслуживанию и ремонту оборудования на основании договора, который заключается в письменной форме.</p>
            <p class="text-secondary">Лицо, которое намерено заключить договор, направляет в АО «Шереметьево Безопасность» заявку в письменной форме на электронные адреса <strong> sb.sekretar@svo.aero, us.klokova@svo.aero.</strong></p>
            <p class="text-secondary">Обращаем внимание, что в случае ремонта оборудования Заказчик предоставляет АО "Шереметьево Безопасность" запчасти для ремонта самостоятельно.
            </p>
            </div>
        </div>
    </div>
    <div class="row">
        <h4 class="text-secondary">Оказание услуг на территории Египта
            <a class="btn " data-bs-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample4">
              <img  class="btn_strelk" src={{url_for('static', filename='images/strelka_niz.png')}}>
            </a>
            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample4">
                <img class="btn_strelk" src={{url_for('static', filename='images/strelka_verh.png')}}>
            </button>
        </h4>
          <div class="collapse" id="collapseExample4">
            <div class="card card-body">
                <p class="text-secondary">Во исполнение требований Протокола между Правительством Российской Федерации и Правительством Арабской Республики Египет АО "Шереметьево Безопасность" оказывает услуги по контролю за соблюдением процедур авиационной безопасности при обслуживании рейсов в Международных аэропортах Каира, Шарм-эль-Шейха и Хургады Арабской Республики Египет.</p>
                <h5 class="text-secondary">Договор об оказании услуг в Египте</h5>
                <p class="text-secondary">Услуги АО "Шереметьево Безопасность" предоставляются авиаперевозчикам в Международных аэропортах Каира, Шарм-эль-Шейха и Хургады на основании договора об оказании услуг, который заключается в письменной форме.</p>
                <p class="text-secondary">Лицо, которое намерено заключить договор об оказании услуг, направляет в АО «Шереметьево Безопасность» заявку в письменной форме на электронные адреса<strong> sb.sekretar@svo.aero, us.klokova@svo.aero</strong>
                </p>
                <h5 class="text-secondary">Основные сведения в заявке об оказании услуг:</h5>
                <p class="text-secondary">1. Планируемое расписание/частота рейсов</p>
                <p class="text-secondary">2. Планируемая дата начала полетов</p>
                <p class="text-secondary">3. Типы ВС</p>
                <p class="text-secondary">4. Загрузка груза/почты/бортового питания на территории Египта</p>
                <p class="text-secondary">5. Контакты</p>
            </div>
        </div>
    </div>
    <div class="row">
        <h4 class="text-secondary">Мы продаем
            <a class="btn " data-bs-toggle="collapse" href="#collapseExample5" role="button" aria-expanded="false" aria-controls="collapseExample5">
              <img  class="btn_strelk" src={{url_for('static', filename='images/strelka_niz.png')}}>
            </a>
            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample5" aria-expanded="false" aria-controls="collapseExample5">
                <img class="btn_strelk" src={{url_for('static', filename='images/strelka_verh.png')}}>
            </button>
        </h4>
          <div class="collapse" id="collapseExample5">
            <div class="card card-body">
             <p class="text-secondary">-</p>
            </div>
        </div>
    </div>
    <div class="row">
        <h4 class="text-secondary">Тендеры
            <a class="btn " data-bs-toggle="collapse" href="#collapseExample6" role="button" aria-expanded="false" aria-controls="collapseExample6">
              <img  class="btn_strelk" src={{url_for('static', filename='images/strelka_niz.png')}}>
            </a>
            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample6" aria-expanded="false" aria-controls="collapseExample6">
                <img class="btn_strelk" src={{url_for('static', filename='images/strelka_verh.png')}}>
            </button>
        </h4>
          <div class="collapse" id="collapseExample6">
            <div class="card card-body">
                <p class="text-secondary">-</p>
            </div>
        </div>
    </div>
    <div class="row">
        <h4 class="text-secondary">Досмотр товаров
            <a class="btn " data-bs-toggle="collapse" href="#collapseExample7" role="button" aria-expanded="false" aria-controls="collapseExample7">
              <img  class="btn_strelk" src={{url_for('static', filename='images/strelka_niz.png')}}>
            </a>
            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample7" aria-expanded="false" aria-controls="collapseExample7">
                <img class="btn_strelk" src={{url_for('static', filename='images/strelka_verh.png')}}>
            </button>
        </h4>
          <div class="collapse" id="collapseExample7">
            <div class="card card-body">
              <p class="text-secondary">АО "Шереметьево Безопасность" оказывает услуги по проведению мероприятий по осуществлению мер безопасности при доступе к объектам инфраструктуры Международного аэропорта "Шереметьево", в том числе досмотр товаров, перемещаемых через границы сектора свободного доступа и перевозочного сектора зоны транспортной безопасности.</p>
              <h5 class="text-secondary">Договор об оказании услуг по транспортной безопасности</h5>
              <p class="text-secondary">Услуги АО "Шереметьево Безопасность" предоставляются компаниям, осуществляющим коммерческую деятельность в Международном аэропорту "Шереметьево", на основании договора об оказании услуг, который заключается в письменной форме.</p>
              <p class="text-secondary">Лицо, которое намерено заключить договор об оказании услуг, направляет в АО «Шереметьево Безопасность» заявку в письменной форме на электронные адреса <strong>sb.sekretar@svo.aero, us.klokova@svo.aero. </strong></p>
            </div>
        </div>
    </div>   
</div>

{% endblock content%}