{% extends 'base2.html'%}
{% block title%}
{% endblock title%}
{% block content%}
<h3 class="text-warning mb-5">Причины не снимать обувь и ремень (пояс)</h3>
<div class="container">
    <div class="row">
        <p class="text-secondary">В соответствии с приказом Министерства транспорта Российской Федерации от 16 апреля 2012 г. № 96 «О внесении изменений в Правила проведения предполетного и послеполетного досмотров, утвержденные приказом Министерства транспорта Российской Федерации от 25 июля 2007 г. № 104» с 5 мая 2012 года в аэропорту Шереметьево изменяется процедура предполетного досмотра авиапассажиров.</p>
        <p class="text-secondary">Теперь Вы будете иметь возможность не снимать обувь, а также ремни (пояса), для проведения их досмотра с использованием рентгенотелевизионного интроскопа.</p>
        <p class="text-secondary">Это очередной шаг авиационных властей к тому, чтобы процедура предполетного досмотра не доставляла Вам лишних неудобств, а время на досмотр сокращалось, при сохранении требуемого уровня безопасности.</p>
        <p class="text-secondary">Собираясь в авиапутешествие, Вы действительно сможете сэкономить время на досмотре в аэропорту и сделать его более удобным, если при выборе обуви и ремня (пояса) Вы будете следовать простым требованиям авиационной безопасности:</p>
        <p class="text-secondary">- обувь будет высотой каблука менее 2,5 см, подошва - толщиной менее 1,0 см;
            - ширина ремня (пояса) будет менее 4,0 см, а толщина - менее 0,5 см.</p>
        <p class="text-secondary">- обувь будет высотой каблука менее 2,5 см, подошва - толщиной менее 1,0 см;
- ширина ремня (пояса) будет менее 4,0 см, а толщина - менее 0,5 см.</p>
        <p class="text-secondary">В зависимости от размеров Вашей обуви и (или) ремня (пояса) в пункте досмотра будут, соответственно, формироваться два маршрута следования:</p>
        <p class="text-secondary">1. Для пассажиров, обувь и ремни (пояса) которых подлежат досмотру с использованием рентгенотелевизионного интроскопа;</p>
        <p class="text-secondary">2. Для остальных пассажиров.</p>
        <p class="text-secondary">Каким маршрутом Вам необходимо следовать, укажет сотрудник авиационной безопасности. Возможно, досмотр с использованием технических средств, по решению сотрудника авиационной безопасности, будет проведен независимо от размеров Вашей обуви или ремня (пояса). Постарайтесь понять нас, ведь «О Вашей безопасности в небе мы заботимся на земле!».</p>
        <h3 class="text-warning mb-5">Спасибо за сотрудничество!</h3>
    </div>
</div>
{%endblock content%}
