{% extends 'base_passenger.html'%}
{% block title%}
{% endblock title%}
{% block content%}
<h3 class="text-warning mb-5">Досмотр при входе в терминал</h3>
<div class="container">
   <p class="text-secondary">
    В соответствии с требованиями Федеральных авиационных правил «Требования по авиационной безопасности к аэропортам», утвержденных приказом Министерства транспорта Российской Федерации от 28 ноября 2005 г. № 142 (с изменениями от 31.01.2008 г.), предусмотрены пункты досмотра пассажиров, их ручной клади и багажа, иных лиц на входах в аэровокзалы международных аэропортов и аэропортов федерального значения, оборудованные рентгенотелевизионными интроскопами, стационарными и ручными металлоискателями. В соответствии с требованиями «Правил проведения досмотра, дополнительного досмотра, повторного досмотра в целях обеспечения транспортной безопасности», утвержденных приказом Минтранса России от 23 июля 2015 г. № 227, досмотру с использованием технических средств досмотра, а также ручным (контактным) методом, подлежат все лица, входящие в терминальные комплексы, а также вещи, находящиеся при них.
   </p>
    <h5 class="text-warning mb-5 mt-5">Уважаемые пассажиры и посетители Международного аэропорта Шереметьево!</h5>
    <p class="text-secondary mb-5">С целью экономии Вашего времени и удобства прохождения процедуры досмотра, организованного на входах в терминалы Международного аэропорта Шереметьево, рекомендуем размещать все электронные гаджеты и приборы (ноутбуки, планшетные компьютеры диагональю свыше 10 дюймов, фото-видео аппаратуру, аккумуляторный электроинсрумент и т.п.) в пластиковый контейнер, для того чтобы Вам было легко предъявить эти предметы для ручного (контактного) и визуального досмотра. <p>
    <h5 class="text-warning mb-5">Желаем Вам приятного полёта и пребывания в Международном аэропорту Шереметьево!</h5>
</div>
{%endblock content%}
