{% extends "base_education.html" %}
{% block title%}
{%endblock title%}
{%block content%}
<h3 class ="text-warning text-center">Учебный Центр - аннотации</h3>
<div class="conteiner mb-5 mt-5">
    <div class="row">
        <div class="col-xs-1" align="center">
           <p class="text-secondary"><a class="b_press" href="/my_content/Annotaciya-programma-2.1.10-OU-i-POTB.pdf" download="Annotaciya-programma-2.1.10-OU-i-POTB.pdf">Аннотация-программа 2.1.10 - ОУ и ПОТБ</a></p>
           <p class="text-secondary"><a class="b_press" href="/my_content/Annotaciya-programma-2.1.11-Prepodavateli.pdf" download="Annotaciya-programma-2.1.11-Prepodavateli.pdf">Аннотация-программа 2.1.11 - Преподаватели</a></p>
           <p class="text-secondary"><a class="b_press" href="/my_content/Annotaciya-programma-2.1.12-Instruktori.pdf" download="Annotaciya-programma-2.1.12-Instruktori.pdf">Аннотация-программа 2.1.12 - Инструкторы</a></p>
           <p class="text-secondary"><a class="b_press" href="/my_content/Annotaciya-programma-2.1.13-Osnovi-TB.pdf" download="Annotaciya-programma-2.1.13-Osnovi-TB.pdf">Аннотация-программа 2.1.13 - Основы ТБ</a></p>
           <p class="text-secondary"><a class="b_press" href="/my_content/Annotaciya-programma-2.1.14-TSD.pdf" download="Annotaciya-programma-2.1.14-TSD.pdf">Аннотация-программа 2.1.14 - ТСД</a></p>
           <p class="text-secondary"><a class="b_press" href="/my_content/Annotaciya-programma-2.1.15-Inspektori-operatori-TSD.pdf" download="Annotaciya-programma-2.1.15-Inspektori-operatori-TSD.pdf">Аннотация-программа 2.1.15 - Инспекторы-операторы ТСД</a></p>
           <p class="text-secondary"><a class="b_press" href="/my_content/Annotaciya-programma-2.1.16-Radiacionnaya-bezopasnost.pdf" download="Annotaciya-programma-2.1.16-Radiacionnaya-bezopasnost.pdf">Аннотация-программа 2.1.16 - Радиационная безопасность </a></p>

        </div>
    </div>
</div>
{%endblock content%}