{% extends "base_education.html" %}
{% block title%}
{%endblock title%}
{%block content%}
<h3 class ="text-warning text-center mb-3">Структура, органы управления</h3>
<div class="container mb-3 mt-5">
    <div class="row">
        <div class="col-xs-1" align="center">
            <p class="text-secondary">            <a class="b_press" href="/my_content/Polozheniye ob UTs ATB.pdf" download="Polozheniye ob UTs ATB.pdf">Положение об учебном центре</a>
            </p>
            <p class="text-secondary">            <a class="b_press" href="/my_content/Struktura-UC-ATB-ot-31.01.2024-g.pdf" download="Struktura-UC-ATB-ot-31.01.2024-g.pdf">Структура учебного центра</a>
            </p>

        </div>
    </div>
</div>
{%endblock content%}