{% extends "base_education.html" %}
{% block title%}
{%endblock title%}
{%block content%}
<h3 class ="text-warning text-center mt-3 mb-3">Образование</h3>
<div class="container border border-warning" >
  <div class="row ">
    <div class="col-md-4"><p class="text-secondary">
        <strong>Реализуемые уровни образования</strong> - Дополнительное профессиональное обучение</p></div>
        <div class="col-md-4"><p class="text-secondary"> <strong>Формы обучения </strong> - Очное, очно-дистанционное, дистанционное</p></div>
  </div>
  <div class="row">
    <div class="col-md-4"><p class="text-secondary"> <strong>Нормативные сроки обучения</strong>  - Сроки обучения индивидуальны для каждой Программы, но не менее 16 часов</p></div>
    <div class="col-md-4"><p class="text-secondary"> <strong>Язык обучения</strong>  - Русский</p></div>
  </div>
</div>
<div class="container mt-3 mb-3">
  <div class="row">
    <h5 class="text-secondary">Категории обучаемых:</h5>
    <p class="text-secondary">- специалисты служб авиационной безопасности;<p>
    <p class="text-secondary">- инструкторы служб авиационной безопасности;<p>
    <p class="text-secondary">- операторов систем видеонаблюдения;<p>
    <p class="text-secondary">- руководители и должностные лица служб авиационной безопасности;<p>
    <p class="text-secondary">- обслуживающий персонал аэропортов и авиакомпаний;<p>
    <p class="text-secondary">- специалисты служб технического обеспечения по ремонту рентгенотелевизионных интроскопов серий LineScan и PX;<p>
    <p class="text-secondary">- работники авиакомпаний и грузоотправителей, а также экспедиторы по специализации «перевозка опасных грузов воздушным транспортом»;<p>
    <p class="text-secondary">- сотрудники МВД на транспорте.<p>
    <h5 class="text-secondary mb-3">В процессе подготовки и переподготовки слушатели Учебного центра по авиационной и транспортной безопасности изучают:</h5>
    <p class="text-secondary">- требования международных стандартов и рекомендуемой практики Международной организации гражданской авиации (ИКАО);<p>
    <p class="text-secondary">- нормативную правовую базу обеспечения авиационной безопасности в аэропортах и охраны различных объектов Российской Федерации;<p>
    <p class="text-secondary">- порядок производства досмотра пассажиров и вещей, находящихся при них с помощью технических средств досмотра и ручным (контактным) методом, порядок производства личного (индивидуального) досмотра пассажиров;<p>
    <p class="text-secondary">- порядок производства досмотра пассажиров PRM (пассажиры с ограниченной подвижностью);<p>
    <p class="text-secondary">- порядок производства предполетного досмотра воздушных судов;<p>
    <p class="text-secondary">- порядок эксплуатации технических средств досмотра;<p>
    <p class="text-secondary">- порядок обеспечения авиационной безопасности воздушных судов в процессе их предполетного и послеполетного технического и коммерческого обслуживания;<p>
    <p class="text-secondary">- порядок организации и осуществления пропускного и внутриобъектового режима, охраны воздушных судов и объектов;<p>
    <p class="text-secondary">- порядок проведения процедуры Профайлинга;<p>
    <p class="text-secondary">- порядок выявления и локализации опасных предметов и веществ;<p>
    <p class="text-secondary">- вопросы взаимодействия служб авиационной безопасности с другими полномочными органами по вопросам авиационной безопасности;<p>
    <p class="text-secondary">- организацию безопасной перевозки опасных грузов на воздушных судах гражданской авиации;<p>
    <p class="text-secondary">- организацию разрешаемого провоза оружия на воздушных судах гражданской авиации;<p>
    <p class="text-secondary">- действия служб авиационной безопасности в условиях кризисных ситуаций, возникающих в аэропорту.<p>
  </div>
</div>
</div>
{%endblock content%}