{% extends "base_education.html" %}
{% block title%}
{%endblock title%}
{%block content%}
<h3 class ="text-warning text-center mt-3 mb-3">Руководство. Педагогический состав (научно-педагогический) состав</h3>
<div class="container">
    <div class="row">
        <h5 class="text-secondary">Руководитель</h5>
        <div class="col-md-4" align="start">
            <p class="text-secondary">Поляков Владимир Александрович</p>
            <p class="text-secondary">тел. +7 (495) 755-68-07 доб.198/247</p>
            <p class="text-secondary">факс. +7 (495) 755-68-12</p>
            <p class="text-secondary">e-mail:<a href="mailto:sb.sekretar@svo.aero" target="_blank" class="text-warning"> sb.sekretar@svo.aero</a> </p>
            </div>
    </div>
    <div class="row">
        <div class="col-md-4" align="start">
            <p class="text-secondary">
            
            <a class="b_press" href="/my_content/Pedagogicheskij-sostav-uchebnogo-centra.pdf" download="Pedagogicheskij-sostav-uchebnogo-centra.pdf">
                Педагогический состав
            </a>
            </p>
        </div>
    </div>
</div>
{%endblock content%}