{% extends "base_education.html" %}
{% block title%}
{%endblock title%}
{%block content%}
<h3 class="text-warning mb-5">В данном разделе сайта Вы можете скачать и заполнить форму Заявки на обучение</h3>
<hr>
<div class="container mt-3">
    <div class="row">
        <p class="text-secondary">Для посетителей сайта, привыкших работать в среде MS-Office, мы предлагаем заполнить Заявку на обучение в редакторе MS-Word. Форма заявки является ориентировочной, её можно изменять или воспользоваться принятой на Вашем предприятии формой.</p>
       <p class="text-secondary">Заполненную заявку необходимо отправить по электронной почте: <a href="#" class="text-warning">sb.sekretar@svo.aero</a> или по факсу:+7 (495) 755-68-12</p>
        <p class="test-secondary">По всем вопросам можно обратиться по телефону: 8 (495) 755-68-07 доб. 130, 247.</p>
        <a class="b_press" href="/my_content/Shablon-zayavki-na-obuchenie.docx" download="Shablon-zayavki-na-obuchenie.docx">Заявка на обучение в формате Word (скачать 14 Кb)        </a>
    </div>
</div> 
<hr>

{% endblock content%}