{% extends "base_education.html" %}
{% block title%}
{%endblock title%}
{%block content%}
<h3 class ="text-warning text-center mb-3">Документы</h3>
<div class="container mt-3 mb-3">
    <div class="row">
        <div class="col-xs-1" align="center">
            <p class="text-secondary">            <a class="b_press" href="/my_content/Ustav-redakcija-8.pdf" download="Ustav-redakcija-8.pdf">Устав образовательной организации</a>
            </p>
            <p class="text-secondary">            <a class="b_press" href="/my_content/Licenziya-novaya-2020.pdf" download="Licenziya-novaya-2020.pdf">Лицензия на осуществление образовательной деятельности</a>
            </p>
            <p class="text-secondary">            <a class="b_press" href="/my_content/Sertifikat-UC-ATB-113-bessrochno-2021.pdf" download="Sertifikat-UC-ATB-113-bessrochno-2021.pdf">Сертификат</a>
            </p>
            <p class="text-secondary">            <a class="b_press" href="/my_content/Vid-udostovereniya-utsanovlennogo-obrazca(1).pdf" download="Vid-udostovereniya-utsanovlennogo-obrazca(1).pdf">Вид удостоверения установленного образца</a>
            </p>
            <p class="text-secondary">            <a class="b_press" href="/my_content/Otchet-o-samoobsledovanii-za-2019g.pdf" download="Otchet-o-samoobsledovanii-za-2019g.pdf">Отчет о самообследовании за 2019 год</a>
            </p>
        </div>
    </div>
</div>
{%endblock content%}