{% extends "base_education.html" %}
{% block title%}
{%endblock title%}
{%block content%}
<h3 class ="text-warning text-center">Важность проведения досмотра</h3>
<div class="container mt-5 mb-3">

        <div class="embed-responsive embed-responsive-16by9">
            <div class="row">
                <div class="col-xs-1" align="center">
            
      <iframe
      width="720"
      height="405"
      src="https://rutube.ru/play/embed/9f1788933c12d57ee914efb682cea079"
      frameBorder="0"
      allow="clipboard-write; autoplay"
      webkitAllowFullScreen
      mozallowfullscreen
      allowFullScreen
    ></iframe>
  
                </div>
            </div>
</div>
</div>
{%endblock content%}