<!DOCTYPE html>
<html>
<footer id="footer" class="bg-secondary bg-body-tertiary pb-3 pt-3">
   <div class="container  text-white text-center">
    <h7 class="white mt-3">Шереметьевское шоссе владение 6К
        г. Химки, Московская область, 141426           Тел: +7 (495) 755 68 07</h7>
    &copy; <a class="text-reset">"АО Шереметьево безопасность" </a>
<h5 class="white mt-3">Наши соцсети:</h5>
<p><a href="https://vk.com/sheremetyevosecurity"><img src={{url_for('static', filename='images/vk.png')}} class="mobile_icons"></a>
<a href=""><img src={{url_for('static', filename='images/odnoklassniki.png')}} class="mobile_icons"></a>
<a href="https://t.me/svosecurity"><img src={{url_for('static', filename='images/telegram.png')}} class="mobile_icons"></a></p>
   </div>
</footer>
</html>

