{%extends 'base_passenger.html'%}
{% block title%}
{%endblock title%}
{%block content%}
<h3 class="text-warning mb-5">Правила провоза вещей в ручной клади</h3>
<div class="container mb-10">
<div class="row">
    <h4 class="text-secondary">Что запрещено перевозить в ручной клади
        <a class="btn " data-bs-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
          <img  class="btn_strelk" src={{url_for('static', filename='images/strelka_niz.png')}}>
        </a>
        <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
            <img class="btn_strelk" src={{url_for('static', filename='images/strelka_verh.png')}}>
        </button>
    </h4>
      <div class="collapse" id="collapseExample1">
        <div class="card card-body">
            <p class="text-secondary">Предметы, которые запрещены к перевозке в ручной клади, подробно описываются в правилах авиакомпаний, однако есть общие правила безопасности, согласно которым на борту самолета запрещается перевозить: опасные предметы и вещества, такие как</p>
            <p class="text-secondary">•    оружие,</p>
            <p class="text-secondary">•    воспламеняющиеся вещества и жидкости,</p>
            <p class="text-secondary">•    токсические/ядовитые/радиоактивные вещества,</p>
            <p class="text-secondary">•    любые колющие и режущие предметы.</p>
            <p class="text-secondary">Естественно, что цель этих ограничительных мер – обеспечение надлежащего уровня безопасности самолета и его пассажиров на протяжении всего полета.</p>
            <p class="text-secondary">По этой причине большинством авиакомпаний <strong>запрещает перевозку в ручной клади</strong> таких предметов как:</p>
            <p class="text-secondary">•   ножи и ножницы,</p>
            <p class="text-secondary">•   штопоры,</p>
            <p class="text-secondary">•   вязальные спицы,</p>
            <p class="text-secondary">•   иглы для инъекций, в том числе и подкожных, исключая предписанные случаи,</p>
            <p class="text-secondary">•   бритвы, лезвия и иные колюще-режущие инструменты и предметы.</p>
            <p class="text-secondary">Разрешается взять на борт самолета лишь небольшое количество жидких веществ, но только при условии, что они упакованы в герметично закрывающиеся емкости; при этом объем этих емкостей не должен превышать 100 мл. Исключение здесь составляют жидкие лекарства. Во избежание недоразумений и лишних вопросов со стороны сотрудников авиакомпании
                 захватите с собой рецепт от врача или справку, подтверждающую ваше лечение.</p>
            <p class="text-secondary">Не стоит полагать, что безобидные на первый взгляд предметы бытового предназначения, такие как металлическая пилочка, маленькие ножницы, пинцет или складной ножик не входят в этот перечень. Их тоже провозить в ручной клади запрещено. Однако все эти предметы вы сможете перевести в сдаваемом багаже.</p>
            <p class="text-secondary">Авиапассажиру разрешается взять с собой в самолет некоторые предметы, содержащие вещества из списка запрещенных к провозу в ручной клади - в количестве одной единицы на человека. Сюда входят:</p>
            <p class="text-secondary">•    термометр медицинский,</p>
            <p class="text-secondary">•    тонометр ртутный в стандартном футляре,</p>
            <p class="text-secondary">•    барометр или манометр ртутный, упакованный в герметичный контейнер и опечатанный пломбой отправителя,</p>
            <p class="text-secondary">•    одноразовая зажигалка.</p>
        </div>
    </div>
</div>
<div class="row">
    <h4 class="text-secondary">Что разрешается перевозить в ручной клади
        <a class="btn " data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
          <img  class="btn_strelk" src={{url_for('static', filename='images/strelka_niz.png')}}>
        </a>
        <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
            <img class="btn_strelk" src={{url_for('static', filename='images/strelka_verh.png')}}>
        </button>
    </h4>
      <div class="collapse" id="collapseExample2">
        <div class="card card-body">
            <p class="text-secondary">Все мы знаем, что существуют правила перевозки ручной клади. Поэтому перед любым полетом мы обязательно вспоминаем эти правила, раздумывая: что взять с собой в самолет.</p>
            <p class="text-secondary">Прежде всего, это должны быть самые
                необходимые для вас вещи:</p>
            <p class="text-secondary"?•    деньги, кредитные карты,</p>
            <p class="text-secondary">•    документы,</p>
            <p class="text-secondary">•    ключи,</p>
            <p class="text-secondary">  •    очки,</p>
            <p class="text-secondary">  •    ноутбук, планшет, телефон,</p>
            <p class="text-secondary">  •    драгоценности,</p>
            <p class="text-secondary">  •    небольшие хрупкие вещи,</p>
            <p class="text-secondary">  •    лекарства, необходимые на время полета</p>
            <p class="text-secondary">  •    возможно - специальное питание для вас или ваших детей.</p>
            <p class="text-secondary">А также можно взять в салон самолета:</p>
            <p class="text-secondary">•    зонт,</p>
            <p class="text-secondary">•    папку с бумагами,</p>
            <p class="text-secondary">•    букет цветов,</p>
            <p class="text-secondary">•    костыли, трость или инвалидное кресло для перевозки пассажира с ограниченной подвижностью,</p>
            <p class="text-secondary">•    верхную одежду и костюм в портпледе,</p>
            <p class="text-secondary">•    печатные публикации для чтения в полете,</p>
            <p class="text-secondary">•    видеокамеру и фотоаппарат,</p>
            <p class="text-secondary">•    детскую коляску-трость для перевозки ребенка.</p>
            <p class="text-secondary">Если у вас будет сдаваемый багаж, то не стоит класть в ручную кладь одежду и обувь. Однако если вы очень беспокоитесь о том, что ваш багаж может будет утерян (что случается крайне редко), рекомендуем взять с собой в самолет предметы первой необходимости, такие как личные гигиенические принадлежности, белье, минимум одежды.</p>
            <p class="text-secondary">С полным списком того, что можно брать в ручную кладь и проносить в самолет, удобнее всего ознакомиться на сайте той авиакомпании, которой вы собираетесь лететь. У нас на сайте вы можете ознакомиться с<a class="text-warning" href={{url_for('forbidden_things')}}> перечнем запрещенных веществ и предметов.</a> Существуют общие стандарты, согласно которым нормы безопасности обязательны для всех авиакомпаний, а вот количество мест, вес и размер ручной клади регулируются авиакомпаниями самостоятельно.</p>
        </div>
    </div>
</div>

<div class="row">
    <h4 class="text-secondary">Количество мест ручной клади, ее размер и вес
        <a class="btn " data-bs-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample3">
          <img  class="btn_strelk" src={{url_for('static', filename='images/strelka_niz.png')}}>
        </a>
        <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
            <img class="btn_strelk" src={{url_for('static', filename='images/strelka_verh.png')}}>
        </button>
    </h4>
      <div class="collapse" id="collapseExample3">
        <div class="card card-body">
        <p class="text-secondary">Ручная кладь, которую вы планируете взять с собой в самолет, по весу и габаритам должна соответствовать правилам, установленным авиакомпанией, классу авиабилета и маршруту полета. Однако для удобства мы рекомендуем запомнить следующие нормы ручной клади в самолете, которые чаще всего встречаются у авиаперевозчиков:</p>
        <p class="text-secondary">в бизнес-классе и в первом классе — это одно место багажа при весе<strong> до 15 кг</strong>,</p>
        <p class="text-secondary">в эконом-классе — одно место багажа весом<strong> не более 10 кг</strong> (оно может быть и 5-6 кг).</p>
        <p class="text-secondary">Размер ручной клади (одного места) не должен превышать 115 см в сумме трех измерений (55×40×20см).</p>
        <p class="text-secondary">Большинство крупных авиационных компаний не считают за отдельное место</p>
        <p class="text-secondary">•    дамскую сумочку, папку для бумаг или мужской портфель,</p>
        <p class="text-secondary"> •    ноутбук, фотоаппарат,</p>
        <p class="text-secondary"> •    зонт</p>
        <p class="text-secondary">  •    букет цветов,</p>
        <p class="text-secondary">  •    костюм или платье в чехле для одежды.</p></p>
        <p class="text-secondary">Бюджетные авиакомпании предъявляют строгие требования к провозу багажа и соблюдают правило:
            на одного пассажира – одно место ручной клади. Но есть исключения. Это:</p>
        <p class="text-secondary">•    складные детские коляски,</p>
        <p class="text-secondary">И почти все авиакомпании разрешают брать на борт <strong>пакет из Duty Free</strong>.</p>
        <p class="text-secondary">Рекомендуем заранее ознакомиться с правила провоза ручной клади у вашего авиаперевозчика, если вы планируете что-то приобрести в поездке – например, дорогое спортивное снаряжение или музыкальный инструмент.</p>
        <p class="text-secondary">•    костыли, трость,</p>
        <p class="text-secondary">  •    верхняя одежда.</p>
         <img  class="cuts_photo" src={{url_for('static', filename='images/size_luggage.jpeg')}}>
        </div>
    </div>
</div>
<div class="row">
    <h4 class="text-secondary">Жидкости в ручной клади
        <a class="btn " data-bs-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample4">
          <img  class="btn_strelk" src={{url_for('static', filename='images/strelka_niz.png')}}>
        </a>
        <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample4">
            <img class="btn_strelk" src={{url_for('static', filename='images/strelka_verh.png')}}>
        </button>
    </h4>
      <div class="collapse" id="collapseExample4">
        <div class="card card-body">
        <p class="text-secondary">Согласно Приложению 1 Правил проведения предполетного и послеполетного досмотров, утверждённых приказом Минтранса России от 25 июля 2007 года № 104 (далее – Правила), пассажирам разрешено перевозить на борту воздушного судна жидкости, аэрозоли и гели, относящиеся к неопасным, в емкостях вместимостью не более 100 мл (или эквивалентной емкостью в других единицах измерения объема), упакованные в надежно закрывающийся прозрачный пластиковый пакет объемом не более 1 л - один пакет на пассажира.
            Жидкости в контейнерах емкостью более 100 мл к перевозке не принимаются даже в том случае, если емкость заполнена лишь частично.</p>
        <p class="text-secondary">Исключение по перевозке имеют лекарства, специальные диетические потребности, детское питание, в том числе материнское молоко, в количестве, необходимом на время полета.</p>
        <p class="text-secondary">В соответствии с Правилами пассажиру разрешено перевозить на борту воздушного судна, с соблюдением требуемых условий, в вещах, находящихся при пассажире, жидкости, приобретенные в магазинах беспошлинной торговли в аэропорту или на борту воздушного судна, которые должны быть упакованы в надежно запечатанный (опломбированный) пластиковый пакет, обеспечивающий идентификацию доступа к содержимому пакета в течение полета, на котором имеется достоверное подтверждение того, что эта покупка произведена в аэропортовых магазинах беспошлинной торговли или на борту воздушного судна в день (дни) поездки.</p>
        <p class="text-secondary">Необходимым условием является наличие посадочного талона, подтверждающего вылет из аэропорта, в котором приобретены товары беспошлинной торговли, отсутствие следов вскрытия пакета, в котором находятся покупки, наличие товарного чека при условии соблюдения требований авиакомпании к вещам, которые Вы планируете взять с собой в салон воздушного судна.</p>
        <p class="text-secondary">Правила перевозки багажа и вещей, находящихся при Вас, в том числе продукции из магазинов беспошлинной торговли, следует уточнить у авиакомпании перевозчика.</p>
        <img  class="cuts_photo" src={{url_for('static', filename='images/hand_liquid_luggage.png')}}>
    </div>
    </div>
</div>
<div class="row">
    <h4 class="text-secondary">Сдаваемый багаж
        <a class="btn " data-bs-toggle="collapse" href="#collapseExample5" role="button" aria-expanded="false" aria-controls="collapseExample5">
          <img  class="btn_strelk" src={{url_for('static', filename='images/strelka_niz.png')}}>
        </a>
        <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample5" aria-expanded="false" aria-controls="collapseExample5">
            <img class="btn_strelk" src={{url_for('static', filename='images/strelka_verh.png')}}>
        </button>
    </h4>
      <div class="collapse" id="collapseExample5">
        <div class="card card-body">
       <p class="text-secondary">Требованиями обеспечения безопасности полета предусмотрен досмотр всего багажа перевозимого пассажиром, поэтому он должен обязательно быть предъявлен при регистрации на рейс.</p>
       <p class="text-secondary">Правила провоза багажа имеют отличия в зависимости от авиакомпании, у которой вы приобрели билет, от самолета страны, в которую вы летите, а также класса авиабилета – бизнес, первый класс или эконом.</p>
       <p class="text-secondary">Самый главный вопрос, интересующий всех, кто впервые собирается лететь самолетом, это сколько можно провезти багажа в самолете. Чаще всего норма бесплатного провоза багажа - не меньше 10 килограммов на одного пассажира, правда, это не относится к самым дешевым рейсам, где нет бесплатного питания на борту и вес бесплатной нормы багажа может достигать 5 кг.</p>
       <p class="text-secondary">Как правило, сведения о максимальном весе багажа, который разрешено провозить бесплатно, указываются на авиабилете, в том числе на электронном.</p>
       <p class="text-secondary">На сегодняшний день действуют две системы норм провоза багажа в самолете: это весовая и система количества мест.
        Посуточно и без посредников. Если авиакомпания рассчитывает норму, исходя из веса багажа, то для обычных регулярных рейсов действуют следующие правила бесплатного провоза багажа. Вес багажа в самолете на одного человека:
        •    для пассажиров бизнес-класса и первого класса — 30 кг;
        •    для пассажиров экономического класса — 20 кг;
        •    для детей в возрасте до 2-х лет (при оплате частичной стоимости билета без предоставления им отдельного места) — 10 кг.</p>
       <p class="text-secondary">Со списком веществ и предметов, запрещенных к провозу на самолете можно ознакомиться в разделе Перечень подробно. Что касается списка разрешенных предметов в сдаваемом багаже, то здесь все намного проще, чем с провозом в ручной клади. Вы имеете право перевозить следующие предметы и вещества, а также спиртное в багаже в самолете с соблюдением требуемых условий:
        •    Арбалеты, шашки, сабли, ножи, кинжалы и т.п.
        •    Хозяйственно-бытовые ножи и ножницы с длиной лезвия более 60 мм;
        •    Алкогольные напитки, содержание алкоголя в которых превышает 24%, но не более 70% по объему - в емкостях вместимостью не более 5 л.</p>
       <p class="text-secondary">Все алкогольные напитки должны быть упакованы в тару, предназначенную для розничной торговли. Разрешается перевозить не более 5 л на одного пассажира:
        •    Другие жидкости - с содержанием алкоголя по объему не более 24%;
        •    Аэрозоли для спортивных или бытовых целей в емкостях вместимостью не более 500 мл, у которых выпускные клапаны баллончиков защищены колпачками от самопроизвольного выпуска содержимого. Разрешается провозить в багаже не более 2 л на одного пассажира.</p>
       <p class="text-secondary">Также вы можете скачать <a class="text-warning" href={{url_for('pass_pamytka')}}>памятку пассажира.</a></p>
       <p class="text-secondary">Обязательно заранее перед поездкой ознакомьтесь с требованиями авиакомпании, если вы планируете перевозить животных. В некоторых самолетах в багажном отделении отсутствует вентиляция, которая необходима для этого, и провоз животных в таких самолетах не предусмотрен.</p>
      
        </div>
    </div>
    <h3 class="text-warning mb-5">Желаем Вам приятного полёта и пребывания в Международном аэропорту Шереметьево!</h3>
</div>
</div>

{%endblock content%}