{% extends "base_passenger.html" %}
{% block title%}
{%endblock title%}
{%block content%}
<h3 class="text-warning mb-5 mt-3">Охотникам</h3>
<div class="container mt-3">
<div class="row">
<p class="text-secondary">Уважаемые охотники! Сезон охоты на копытных, бобров и другую дичь открыт. Однако охотничьи угодья, как правило, расположены вдали от крупных городов, и охотникам приходится добираться туда различными видами транспорта, в том числе железнодорожным и воздушным. Как добраться и взять с собой оружие. При перевозке оружия необходимо соблюдать определенные правила.</p>
<p class="text-secondary">- Пассажир должен сообщить представителю авиакомпании или службы авиационной безопасности при бронировании и регистрации на рейс о планируемом к перевозке оружии в зарегистрированном багаже.</p>
<p class="text-secondary">- Пассажир, имеющий при себе оружие, должен прибыть на регистрацию не позднее, чем за полтора часа до вылета.
</p>
<p class="text-secondary">- При перевозке оружия по территории Российской Федерации пассажир должен предъявить соответствующее разрешение на хранение и ношение оружия.</p>
<p class="text-secondary">- При вывозе/импорте или транзите оружия с/на территорию Российской Федерации пассажир должен предъявить действительное разрешение на вывоз/ввоз оружия, выданное соответствующим органом Министерства внутренних дел./</p>
<p class="text-secondary">- Трансферным пассажирам, которые продолжают свое путешествие по территории Российской Федерации, необходимо переоформить документы на оружие в аэропорту "Шереметьево". Более подробную информацию вы можете получить по телефону: (+7-495-578-83-54).</p>
<p class="text-secondary">- Законные иностранцы в соответствии с "Законом об оружии":</p>
<p class="text-secondary"> - может ввозить спортивное и охотничье оружие на территорию Российской Федерации при наличии следующих подтверждающих документов: приглашения юридического лица с действующей лицензией на охоту, договора на охоту с указанным юридическим лицом или приглашения на участие в спортивных мероприятиях и соответствующего разрешения Министерства внутренних дел.;</p>
<p class="text-secondary">- ввоз и использование на территорию Российской Федерации всех видов и моделей оружия для защиты личной безопасности, жизни и здоровья других граждан, их имущества, сопровождения грузов и других целей, не указанных выше, запрещено, если иное не предусмотрено отдельными международными соглашениями Российской Федерации.</p>
<p class="text-secondary">- Оружие должно быть передано на временное хранение во время полета в аэропорту вылета и возвращено владельцам в аэропорту назначения.</p>
<p class="text-secondary">- Модели оружия (пистолеты, револьверы, винтовки и короткостволы, пулеметы, электрошокеры и т.д.) запрещены к провозу в ручной клади воздушного судна.</p>
<p class="text-secondary">- Перевозка моделей оружия разрешена только в зарегистрированном багаже.</p>
<p class="text-secondary">- К перевозке в пассажирском отсеке принимается только разряженное оружие (чехлы, кобуры, специальная упаковка, коробки, гильзы), обеспечивающее необходимую сохранность оружия. Оружие и боеприпасы должны храниться в отдельных упаковках.</p>
<p class="text-secondary">- Один пассажир может перевозить до 400 патронов в оригинальной упаковке общим весом не более 5 килограммов.</p>
<p class="text-secondary">- Патроны для газораспылительного оружия запрещены к перевозке воздушным транспортом.</p>
<p class="text-secondary">Как перевозить охотничьи ножи:</p>
<p class="text-secondary">Большинство ножей, неосторожно оставленных в зарегистрированном багаже, относятся к категории туристических ножей и могут перевозиться в зарегистрированном багаже без ограничений. Однако, если лезвие достаточно твердое, чтобы пронзить тело человека (не гнется), или обладает другими характеристиками холодного оружия – его можно забрать для экспертизы. Обычно, когда вы покупаете нож, вы получаете сертификат с указанием модели ножа и заявлением о том, что этот нож не является холодным оружием. Такой сертификат может помочь избежать вышеупомянутой экспертизы.</p>
<p class="text-secondary">Охотничьи ножи можно перевозить только в зарегистрированном багаже. Охотничьи ножи обычно нумеруются, и этот номер указывается в разрешении на охоту. Его необходимо предъявить при регистрации багажа, в противном случае такой нож может быть конфискован.</p>
</div>
</div>
{% endblock content%}