{% extends "base_education.html" %}
{% block title%}
{%endblock title%}
{%block content%}
<h3 class ="text-warning text-center mb-3">Основные сведения</h3>
<div class="container">
    <div class="row">
        <div class="col-xs-1" align="center">
        <img src="{{url_for('static', filename='images/main_exit.jpg')}}" class="img-fluid w-50">
        </div>
</div>   
<div class="container mt-5" >
    <div class="row">
        <div class="col-md-6" >
            <p class="text-secondary"><strong>
                Полное наименование</strong><p>
        </div>
        <div class="col-md-6" >
            <p class="text-secondary">	
                Учебный центр по авиационной и транспортной безопасности АО “Шереметьево Безопасность”<p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" >
            <p class="text-secondary"><strong>Дата создания</strong><p>
        </div>
        <div class="col-md-6" >
            <p class="text-secondary">	
                01.02.2002<p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" >
            <p class="text-secondary"><strong>Учредители</strong><p>
        </div>
        <div class="col-md-6" >
            <p class="text-secondary">	
                Открытое акционерное общество «Аэрофлот - Российские авиалинии», Открытое акционерное общество «Международный аэропорт Шереметьево»<p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p class="text-secondary"><strong>Юридический адрес</strong><p>
        </div>
        <div class="col-md-6">
            <p class="text-secondary">Юридический адрес 141426, Российская Федерация, Московская область, г. Химки, Шереметьевское шоссе, вл. 6К<p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" >
            <p class="text-secondary"><strong>Почтовый адрес</strong><p>
        </div>
        <div class="col-md-6" >
            <p class="text-secondary">	
                141426, Российская Федерация, Московская область, г. Химки, Шереметьево – 1, абонентный ящик 60<p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p class="text-secondary"><strong>Основное место осуществления деятельности</strong><p>
        </div>
        <div class="col-md-6">
            <p class="text-secondary">141426, Российская Федерация, Московская область, г. Химки, Шереметьевское шоссе, вл. 6К<p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p class="text-secondary"><strong>График работы</strong><p>
        </div>
        <div class="col-md-6" >
            <p class="text-secondary">С понедельника - по пятницу
                понедельник - четверг с 9.00 до 18.00
                пятница - с 9.00 до 15.30<p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" >
            <p class="text-secondary"><strong>Контактные телефоны</strong><p>
        </div>
        <div class="col-md-6">
            <p class="text-secondary">Поляков Владимир Александрович

                тел. +7 (495) 755-68-07 доб.198/247
                
                факс. +7 (495) 755-68-12<p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p class="text-secondary"><strong>Адрес электронной почты</strong><p>
        </div>
        <div class="col-md-6" >
            <p class="text-secondary"><a href="mailto:sb.sekretar@svo.aero" target="_blank" class="text-warning">
                sb.sekretar@svo.aero</a><p>
        </div>
    </div>
  </div>
{% endblock content%}