{% extends "base2.html" %}
{% block title%}
{%endblock title%}
{%block content%}

<h3 class="text-warning mb-5">Информация о тарифах и ценах на оказание услуг по авиационной и неавиационной безопасности</h3>
<div class="container mb-5">
    <div class="row">
        <h4 class="text-secondary">Информация о тарифах на услуги по обеспечению авиационной безопасности
            <a class="btn " data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              <img  class="btn_strelk" src={{url_for('static', filename='images/strelka_niz.png')}}>
            </a>
            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <img class="btn_strelk" src={{url_for('static', filename='images/strelka_verh.png')}}>
            </button>
        </h4>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <hr>
          <h5 class="text-warning bold">Ставки сбора за услуги по обеспечению авиационной безопасности:</h5>
          <hr>
          <p class="text-secondary">Предельные максимальные ставки сбора за услуги по обеспечению авиационной безопасности в
            АО "Шереметьево Безопасность"<a class="b_press" href="/my_contentForma-1-s-25.02.2024.pdf" download="Forma-1-s-25.02.2024.pdf"> с 25 февраля 2024 года</a></p>
           <hr>
           <p class="text-secondary text-center"><strong>Архив ставок сбора за услуги по обеспечению авиационной безопасности:</strong></p>
            <p class="text-secondary">Срок действия:<a class="b_press" href="/my_content/Forma-1-s-01.01.2024.pdf" download="Forma-1-s-01.01.2024.pdf"> с 01 января 2024 года</a></p>
            <p class="text-secondary">Срок действия:<a class="b_press" href="/my_content/Forma-1-s-01.02.2023.pdf" download="Forma-1-s-01.02.2023.pdf"> с 01 февраля 2023 года</a></p>
            <p class="text-secondary">Срок действия:<a class="b_press" href="/my_content/Forma-1-s-01.01.2023.pdf" download="Forma-1-s-01.01.2023.pdf"> с 01 января 2023 года</a></p>
            <p class="text-secondary">Срок действия:<a class="b_press" href="/my_content/Forma-1-s-02.01.2022.pdf" download="Forma-1-s-01.02.2022.pdf"> с 02 января 2022 года</a></p>
            <p class="text-secondary">Срок действия:<a class="b_press" href="/my_content/Forma-1-s-01.01.2022.pdf" download="Forma-1-s-01.01.2022.pdf"> с 01 января 2022 года</a></p>
            <p class="text-secondary">Срок действия:<a class="b_press" href="/my_content/Forma-1-s-12.01.2021.pdf" download="Forma-1-s-12.01.2021.pdf"> с 12 января 2021 года</a></p>
            <p class="text-secondary">Срок действия:<a class="b_press" href="/my_content/Forma-1-s-01.01.2020.pdf" download="Forma-1-s-01.01.2020.pdf"> с 01 января 2020 года</a></p>
            <p class="text-secondary">Срок действия:<a class="b_press" href="/my_content/Forma-1-s-01.01.2019.pdf" download="Forma-1-s-01.01.2019.pdf"> с 01 января 2019 года</a></p>
            <p class="text-secondary">Срок действия:<a class="b_press" href="/my_content/Forma-1-s-01.07.2018.pdf" download="Forma-1-s-01.07.2018.pdf"> с 01 июля 2018 года</a></p>
            <p class="text-secondary">Срок действия:<a class="b_press" href="/my_content/Forma-1-s-01.01.2018.pdf" download="Forma-1-s-01.01.2018.pdf"> с 01 января 2018 года</a></p>
        </div>
          </div>
    </div>
    <div class="row">
        <h4 class="text-secondary">Информация о ценах на дополнительные виды услуг по авиационной безопасности
            <a class="btn " data-bs-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
              <img  class="btn_strelk" src={{url_for('static', filename='images/strelka_niz.png')}}>
            </a>
            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
                <img class="btn_strelk" src={{url_for('static', filename='images/strelka_verh.png')}}>
            </button>
        </h4>
          <div class="collapse" id="collapseExample1">
            <div class="card card-body">
             
              <h5 class="text-secondary text-center">Прейскурант цен на дополнительные виды услуг по авиационной безопасности, оказываемых АО «Шереметьево Безопасность»:</h5>
              <hr>
              <p class="text-secondary"><a class="b_press" href="/my_content/Prikaz-253-OD-ot-29.11.2023-—-kopiya.pdf" download="Prikaz-253-OD-ot-29.11.2023-—-kopiya.pdf">для иностранных эксплуатантов (вводится с 01.01.2024г.)</a></p>
              <p class="text-secondary"><a class="b_press" href="/my_content/Prikaz-10-OD-ot-24.01.2024.pdf" download="Prikaz-10-OD-ot-24.01.2024.pdf">для российских эксплуатантов (вводится с 25.02.2024г.)</a></p>
              <p class="text-secondary"><a class="b_press" href="/my_content/Prikaz-251-OD-ot-29.11.2023-—-kopiya.pdf" download="Prikaz-251-OD-ot-29.11.2023-—-kopiya.pdf">при доступе к объектам инфраструктуры (вводится с 01.01.2024г.)</a></p>
              <hr>
              <h5 class="text-secondary text-center">Архив цен на дополнительные виды услуг по авиационной безопасности, оказываемых АО «Шереметьево Безопасность»:</h5>
              <hr>
              <p class="text-secondary"><a class="b_press" href="/my_content/266-od-dlya-inostrannih-AK.pdf" download="266-od-dlya-inostrannih-AK.pdf">для иностранных эксплуатантов (вводится с 01.01.2023г.)</a></p>
              <p class="text-secondary"><a class="b_press" href="/my_content/297-IN.pdf" download="297-IN.pdf">для иностранных эксплуатантов (вводится с 01.01.2022г.)</a></p>
              <p class="text-secondary"><a class="b_press" href="/my_content/122-od-dlya-inostrannih-AK.pdf" download="122-od-dlya-inostrannih-AK.pdf">для иностранных эксплуатантов (вводится с 27.05.2022г.)</a></p>
              <p class="text-secondary"><a class="b_press" href="/my_content/329-OD.pdf" download="329-OD.pdf">для иностранных эксплуатантов (вводится с 01.01.2021г.)</a></p>
              <p class="text-secondary pb-5"><a class="b_press" href="/my_content/239-OD.pdf" download="239-OD.pdf">для иностранных эксплуатантов (вводится с 01.01.2020г.)</a></p>
              <p class="text-secondary"><a class="b_press" href="/my_content/126-od-dlya-rossijskih-AK.pdf" download="126-od-dlya-rossijskih-AK.pdf">для российских эксплуатантов (вводится с 06.07.2023г.)</a></p>
              <p class="text-secondary"><a class="b_press" href="/my_content/304-od-dlya-rossijskih-AK.pdf" download="304-od-dlya-rossijskih-AK.pdf">для российских эксплуатантов (вводится с 01.02.2023г.)</a></p>
              <p class="text-secondary"><a class="b_press" href="/my_content/122-od-dlya-rossijskih-AK-1.pdf" download="122-od-dlya-rossijskih-AK-1.pdf">для российских эксплуатантов (вводится с 27.05.2022г.)</a></p>
              <p class="text-secondary"><a class="b_press" href="/my_content/297-od-dlya-rossijskih-AK.pdf" download="297-od-dlya-rossijskih-AK.pdf">для российских эксплуатантов (вводится с 01.01.2022г.)</a></p>
              <p class="text-secondary"><a class="b_press" href="/my_content/371-od-dlya-rossijskih-AK.pdf" download="371-od-dlya-rossijskih-AK.pdf">для российских эксплуатантов (вводится с 13.02.2021г.)</a></p>
              <p class="text-secondary pb-5"><a class="b_press" href="/my_content/239-od-dlya-rossijskih-AK.pdf" download="239-od-dlya-rossijskih-AK.pdf">для российских эксплуатантов (вводится с 01.01.2020г.)</a></p>
              <p class="text-secondary "><a class="b_press" href="/my_content/303-OD.pdf" download="303-OD.pdf">при доступе к объектам инфраструктуры (вводится с 01.02.2023г.)</a></p>
              <p class="text-secondary"><a class="b_press" href="/my_content/296-OD.pdf" download="296-OD.pdf">при доступе к объектам инфраструктуры (вводится с 01.01.2022г.)</a></p>
              <p class="text-secondary"><a class="b_press" href="/my_content/175-OD.pdf" download="175-OD.pdf">при доступе к объектам инфраструктуры (вводится с 06.08.2019г.)</a></p>
          </div>
    </div>
    <div class="row">
        <h4 class="text-secondary">Информация о ценах на дополнительные виды услуг неавиационного характера
            <a class="btn " data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
              <img  class="btn_strelk" src={{url_for('static', filename='images/strelka_niz.png')}}>
            </a>
            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
                <img class="btn_strelk" src={{url_for('static', filename='images/strelka_verh.png')}}>
            </button>
        </h4>
          <div class="collapse" id="collapseExample2">
            <div class="card card-body">
              <h5 class="text-warning">Прейскурант цен на дополнительные виды услуг неавиационного характера, оказываемых АО «Шереметьево Безопасность»:</h5>
              <hr>
              <p class="text-secondary"><strong>1. Прейскурант цен на оказание дополнительных услуг по проведению комплексного технического обслуживания, ремонта и аренде оборудования:</strong></p>
              <p class="text-secondary"><a class="b_press" href="/my_content/Prikaz-250-OD-ot-29.11.2023-—-kopiya.pdf" download="Prikaz-250-OD-ot-29.11.2023-—-kopiya.pdf">(c 01.01.2024)</a></p>
              <p class="text-secondary"><strong>2. Прейскурант цен на услуги Учебного центра по авиационной и транспортной безопасности:</strong></p>
              <p class="text-secondary"> - на оказание дополнительных услуг по подготовке специалистов в системе дополнительного профессионального образования по авиационной безопасности</p>
              <p class="text-secondary"><a class="b_press" href="/my_content/Prilozhenie-1-k-Prikaz-249-OD.pdf" download="Prilozhenie-1-k-Prikaz-249-OD.pdf">(c 01.01.2024)</a></p>
              <p class="text-secondary"> - на оказание дополнительных услуг по подготовке специалистов в системе дополнительного профессионального образования по транспортной безопасности</p>
              <p class="text-secondary"><a class="b_press" href="/my_content/Prikaz-50-OD-ot-25.03.2024.pdf" download="Prikaz-50-OD-ot-25.03.2024.pdf">(c 25.03.2024)</a></p>
              <p class="text-secondary"> - на оказание дополнительных услуг по проведению тренингов</p>
              <p class="text-secondary"><a class="b_press" href="/my_content/Prilozhenie-2-k-Prikazu-249-OD.pdf" download="Prilozhenie-2-k-Prikazu-249-OD.pdf">(c 01.01.2024)</a></p>
              <p class="text-secondary">   - на оказание дополнительных услуг по предоставлению доступа к онлайн-тренажеру </p>
              <p class="text-secondary"><a class="b_press" href="/my_content/Prilozhenie-3-k-Prikazu-249-OD.pdf" download="Prilozhenie-3-k-Prikazu-249-OD.pdf">(c 01.01.2024)</a></p>
              <p class="text-secondary"> - на оказание дополнительных услуг с применением компьютерного полиграфа</p>
              <p class="text-secondary"><a class="b_press" href="/my_content/122-OD.pdf" download="122-OD.pdf">(c 07.07.2020)</a></p>
              <p class="text-secondary"><strong>3. Прейскурант цен на услуги по контролю за соблюдением процедур обеспечения авиационной безопасности для аэропортов Арабской Республики Египет, оказываемых АО «Шереметьево Безопасность»</strong></p>
              <p class="text-secondary"><a class="b_press" href="/my_content/Prikaz-252-OD-ot-29.11.2023-—-kopiya.pdf" download="Prikaz-252-OD-ot-29.11.2023-—-kopiya.pdf">(c 01.02.2024)</a></p>
              <hr>
              <h5 class="text-warning">Архив цен на дополнительные виды услуг неавиационного характера, оказываемых АО «Шереметьево Безопасность»:</h5>
              <hr>
              <p class="text-secondary">1. Прейскурант цен на оказание дополнительных услуг по проведению комплексного технического обслуживания, ремонта и аренде оборудования</p>
              <p class="text-secondary"><a class="b_press" href="/my_content/221-OD.pdf" download="221-OD.pdf">(c 29.09.2022)</a></p>
              <p class="text-secondary"><a class="b_press" href="/my_content/305-OD.pdf" download="305-OD.pdf">(c 01.02.2023)</a></p>
              <p class="text-secondary"><a class="b_press" href="/my_content/83-OD.pdf" download="83-OD.pdf">(c 01.05.2023)</a></p>
              <p class="text-secondary">2. Прейскурант цен на услуги Учебного центра по авиационной и транспортной безопасности:
                - на оказание дополнительных услуг по подготовке специалистов в системе дополнительного профессионального образования по авиационной безопасности </p>
                <p class="text-secondary"><a class="b_press" href="/my_content/306-OD1.pdf" download="306-OD1.pdf">(c 01.02.2023)</a></p>
                <p class="text-secondary"><a class="b_press" href="/my_content/295-AB.pdf" download="295-AB.pdf">(c 01.01.2022)</a></p>
                <p class="text-secondary">   - на оказание дополнительных услуг по подготовке специалистов в системе дополнительного профессионального образования по транспортной безопасности</p>
                <p class="text-secondary"><a class="b_press" href="/my_content/306-OD2.pdf" download="306-OD2.pdf">(c 01.02.2023)</a></p>
              <p class="text-secondary"><a class="b_press" href="/my_content/295-TB.pdf" download="295-TB.pdf">(c 01.01.2022)</a></p>
              <p class="text-secondary">   - на оказание дополнительных услуг по проведению тренингов</p>
              <p class="text-secondary"><a class="b_press" href="/my_content/306-OD_3.pdf" download="306-OD_3.pdf">(c 01.02.2023)</a></p>
              <p class="text-secondary"><a class="b_press" href="/my_content/122-UC.pdf" download="122-UC.pdf">(c 27.05.2022)</a></p>
              <p class="text-secondary">   - на оказание дополнительных услуг по предоставлению доступа к онлайн-тренажеру</p>
              <p class="text-secondary"><a class="b_press" href="/my_content/306-OD_4.pdf" download="306-OD_4.pdf">(c 01.02.2023)</a></p>
              <p class="text-secondary">   - на оказание дополнительных услуг с применением компьютерного полиграфа</p>
              <p class="text-secondary">3. Прейскурант цен на услуги по контролю за соблюдением процедур обеспечения авиационной безопасности для аэропортов Арабской Республики Египет, оказываемых АО «Шереметьево Безопасность»</p>
              <p class="text-secondary"><a class="b_press" href="/my_content/302-OD.pdf" download="302-OD.pdf">(c 01.02.2023)</a></p>
              <p class="text-secondary"><a class="b_press" href="/my_content/199-OD.pdf" download="199-OD.pdf">(c 09.08.2021)</a></p>
              <p class="text-secondary"><a class="b_press" href="/my_content/89-OD.pdf" download="89-OD.pdf">(c 29.03.2021)</a></p>
            </div>
           
        </div>
    </div>
    
 </div>
</div>

{% endblock content%}