{% extends "base2.html" %}
{% block title%}
{%endblock title%}
{%block content%}

<h3 class="text-warning mb-5">Интегрированная система менеджмента АО "Шереметьево Безопасность"</h3>
<div class="container">
  <div class="row">
    <p class="text-secondary">В АО «Шереметьево Безопасность» разработана, задокументирована, внедрена и поддерживается в рабочем состоянии интегрированная система менеджмента в соответствии с требованиями стандартов ISO 9001:2015,
        ISO 14001:2015, постоянно повышается ее результативность.</p>
    <p class="text-secondary">В целях подтверждения соответствия интегрированной системы менеджмента (далее – ИСМ) АО «Шереметьево Безопасность» требованиям стандартов
        ISO 9001:2015, ISO 14001:2015 в ноябре 2022 года внешним сертификационным органом ООО «ДКС РУС» проведен ресертификационный аудит на соответствие ИСМ требованиям международных стандартов ISO 9001:2015
        и ISO 14001:2015.</p>
    <p class="text-secondary">Аудиторы дали положительную оценку функционирования интегрированной системы менеджмента АО «Шереметьево Безопасность»,
        и подтвердили её соответствие указанным выше международным стандартам.</p>
    <p class="text-secondary">Интегрированная система менеджмента АО «Шереметьево Безопасность» охватывает все виды деятельности организации, определяющие качество предоставляемых услуг.</p>
    <p class="text-secondary">Преимуществами такой системы являются повышение результативности управления предприятием, развитие потенциальных возможностей и укрепление авторитета, как в обществе, так и на рынке. Основу ИСМ составляет концепция управления рисками, связанными с производственной деятельностью предприятия, включая и влияние на экологические аспекты.</p>
    <p class="text-secondary"><strong>Внедрение интегрированной системы менеджмента
        в АО «Шереметьево Безопасность» позволило:</strong></p>
    <p class="text-secondary">-        улучшить планирование и контроль деятельности предприятия
        по выполнению главной задачи – обеспечению авиационной и транспортной безопасности в а/п Шереметьево за счёт совершенствования разработки и реализации обоснованных управленческих решений;</p>
    <p class="text-secondary">-        повысить оперативность реализации требований авиакомпаний, международного аэропорта Шереметьево, организаций, осуществляющих свою деятельность в аэропорту, направленных на повышение эффективности системы обеспечения авиационной и транспортной безопасности;</p>
    <p class="text-secondary">-        повысить эффективность контроля за выполнением договорных обязательств по оказанию услуг по авиационной и транспортной безопасности перед заказчиком;</p>
    <p class="text-secondary">-        активизировать работу по оптимизации деятельности всего предприятия,
        и в первую очередь, в сфере обеспечения авиационной безопасности;</p>
    <p class="text-secondary">-        своевременно внедрять новые технологии и инструкции
        по проведению предполётного досмотра;</p>
    <p class="text-secondary">-        повысить конкурентоспособность предприятия на рынке оказания услуг
        по авиационной безопасности.</p>
    <p class="text-secondary"><strong>Реализация целей Общества в области качества и экологического менеджмента достигается:</strong></p>
    <p class="text-secondary">-        систематическим изучением требований, как потребителей,
        так и современных методов обеспечения АБ и ТБ и принятием превентивных мер, обеспечивающих готовность Общества выполнять работы на самом высоком уровне;</p>
    <p class="text-secondary">-        распределением ответственности руководителей всех уровней
        и каждого работника на своем рабочем месте;</p>
    <p class="text-secondary">-        организацией работы в соответствии с нормативными документами Российской Федерации, рекомендациями международных организаций (ИАТА/ИКАО), международными стандартами ISO 9001:2015, ISO 14001:2015 и другими обязательными требованиями;</p>
    <p class="text-secondary">-        распределением людских, материальных и финансовых ресурсов;</p>
    <p class="text-secondary">-        систематическим обучением и повышением квалификации персонала всех уровней;</p>
    <p class="text-secondary">-        мониторингом процессов ИСМ и услуги в целом.</p>
    <p class="text-secondary">Воздействие на окружающую среду становится все более важной мировой проблемой. Требования по управлению этими воздействиями выдвигаются всеми заинтересованными сторонами, в том числе местными и государственными органами власти, потребителями, сотрудниками и др.</p>
    <p class="text-secondary">В экологической политике АО «Шереметьево Безопасность» подтверждена приверженность выполнению требований законодательных
        и нормативных актов, постоянному улучшению и предотвращению загрязнения окружающей среды.</p>
    <p class="text-secondary"><strong>Экологическая политика АО «Шереметьево Безопасность» основана
        на следующих принципах:</strong></p>
    <p class="text-secondary">-        минимизация отрицательного воздействия на окружающую среду
        и предупреждение её загрязнения;</p>
    <p class="text-secondary">-        обеспечение экологической безопасности деятельности Общества;</p>
    <p class="text-secondary">-        соответствие требованиям природоохранного законодательства Российской Федерации;</p>
    <p class="text-secondary">-        доступность результатов экологической деятельности для заинтересованных сторон (экологическая прозрачность);</p>
    <p class="text-secondary">-        достижение экологической результативности осуществляемой деятельности;</p>
    <p class="text-secondary">-        осознание работниками значения природоохранной деятельности Общества, социальной и моральной ответственности за решение экологических проблем;</p>
    <p class="text-secondary">-        эффективное управление экологическими рисками.</p>
    </div>
    <div class="row">
        <h3 class="text-warning mb-5">Политика Акционерного общества
            «Шереметьево Безопасность»</h3>
            <hr>
            <p class=" text-secondary blockquote  text-center mb-4">«О ВАШЕЙ БЕЗОПАСНОСТИ В НЕБЕ МЫ ЗАБОТИМСЯ НА ЗЕМЛЕ»</p>
            <hr>
    <p class="text-secondary">Акционерное общество «Шереметьево Безопасность» (далее – АО «Шереметьево Безопасность») предоставляет своим потребителям комплекс мер для обеспечения защищенности от незаконного вмешательства в деятельность гражданской авиации.</p>
    <p class="text-secondary">Гарантированный уровень авиационной и транспортной безопасности, защита общечеловеческих ценностей, достижение целей и постоянное улучшение обеспечено действующей Системой управления рисками.</p>
    <p class="text-secondary">Система управления рисками является неотъемлемой частью всех процессов и направлена на обеспечение здоровья и безопасности людей, соответствия законодательным и другим обязательным требованиям, повышения удовлетворенности потребителей и сторон, заинтересованных в деятельности АО «Шереметьево Безопасность», общественного признания и репутации, защиты окружающей среды и предотвращения загрязнений, качества услуг, результативности функций руководства.</p>
    <p class="text-secondary">Система управления рисками является прозрачной, обеспечивает передачу информации о рисках всем лицам, принимающим решения, на всех уровнях организации, и гарантирует персоналу, а также внешним заинтересованным сторонам уверенность в том, что их мнение принимается во внимание в процессе установления критериев риска.</p>
    <p class="text-secondary">Система управления рисками является частью практики принятия решений и помогает лицам, принимающим решения, делать обоснованный выбор, определять приоритетность действий и проводить различия между альтернативными направлениями действий.</p>
    <p class="text-secondary">Высшее руководство АО «Шереметьево Безопасность» возглавляет Систему управления рисками и несет ответственность за её результативность, постоянное улучшение и соответствие требованиям стандартов ISO 9001 и ISO 14001 при безупречном выполнении Норм, правил и процедур по авиационной безопасности и требований по обеспечению транспортной безопасности, установленных в Российском воздушном законодательстве, а также положениях ИКАО, ИАТА.</p>
    </div>
</div>

{% endblock content%}