{% extends "base_education.html" %}
{% block title%}
{%endblock title%}
{%block content%}
<h3 class ="text-warning text-center">Лицензии и сертификаты</h3>
<div class="conteiner mb-5 mt-5">
    <div class="row">
        <h4 class="text-secondary">Лицензия
            <a class="btn " data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              <img  class="btn_strelk" src={{url_for('static', filename='images/strelka_niz.png')}}>
            </a>
            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <img class="btn_strelk" src={{url_for('static', filename='images/strelka_verh.png')}}>
            </button>
        </h4>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <p class="test-secondary"><a class="b_press" href="/my_content/Licenziya-novaya-2020.pdf" download="Licenziya-novaya-2020.pdf">Лицензия</a></p>
        </div>
          </div>
    </div>
    <div class="row">
        <h4 class="text-secondary">Сертификат
            <a class="btn " data-bs-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
              <img  class="btn_strelk" src={{url_for('static', filename='images/strelka_niz.png')}}>
            </a>
            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
                <img class="btn_strelk" src={{url_for('static', filename='images/strelka_verh.png')}}>
            </button>
        </h4>
          <div class="collapse" id="collapseExample1">
            <div class="card card-body">
             <p class="test-secondary"><a class="b_press" href="/my_content/Sertifikat-UC-ATB-113-bessrochno-2021.pdf" download="Sertifikat-UC-ATB-113-bessrochno-2021.pdf">Сертификат</a></p>
          </div>
    </div>
    <div class="row">
        <h4 class="text-secondary">Лицензия АУЦ
            <a class="btn " data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
              <img  class="btn_strelk" src={{url_for('static', filename='images/strelka_niz.png')}}>
            </a>
            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
                <img class="btn_strelk" src={{url_for('static', filename='images/strelka_verh.png')}}>
            </button>
        </h4>
          <div class="collapse" id="collapseExample2">
            <div class="card card-body">
                <p class="test-secondary"><a class="b_press" href="/my_content/Licenziya-novaya-2020_auc.pdf" download="Licenziya-novaya-2020_auc.pdf">Лицензия АУЦ</a></p>
           
        </div>
    </div>
    <div class="row">
        <h4 class="text-secondary">Сертификат АУЦ
            <a class="btn " data-bs-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample3">
              <img  class="btn_strelk" src={{url_for('static', filename='images/strelka_niz.png')}}>
            </a>
            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
                <img class="btn_strelk" src={{url_for('static', filename='images/strelka_verh.png')}}>
            </button>
        </h4>
          <div class="collapse" id="collapseExample3">
            <div class="card card-body">
                <p class="test-secondary"><a class="b_press" href="/my_content/Sertifikat-UC-ATB-113-bessrochno-2021 auc.pdf" download="Sertifikat-UC-ATB-113-bessrochno-2021 auc.pdf">Сертификат АУЦ</a></p>
          </div>
    </div>
    <div class="row">
        <h4 class="text-secondary">Документ об утверждении стоимости обучения по каждой образовательной программе
            <a class="btn " data-bs-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample4">
              <img  class="btn_strelk" src={{url_for('static', filename='images/strelka_niz.png')}}>
            </a>
            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample4">
                <img class="btn_strelk" src={{url_for('static', filename='images/strelka_verh.png')}}>
            </button>
        </h4>
          <div class="collapse" id="collapseExample4">
            <div class="card card-body">
                <p class="test-secondary"><a class="b_press" href="/my_content/Prilozhenie.-Prejskurant-2024.pdf" download="Prilozhenie.-Prejskurant-2024.pdf">Прейскурант цен на подготовку специалистов в системе дополнительного профессионального образования по авиационной и транспортной безопасности</a></p>
        </div>
    </div>
    <div class="row">
        <h4 class="text-secondary">Образец договора об оказании платных образовательных услуг
            <a class="btn " data-bs-toggle="collapse" href="#collapseExample5" role="button" aria-expanded="false" aria-controls="collapseExample5">
              <img  class="btn_strelk" src={{url_for('static', filename='images/strelka_niz.png')}}>
            </a>
            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample5" aria-expanded="false" aria-controls="collapseExample5">
                <img class="btn_strelk" src={{url_for('static', filename='images/strelka_verh.png')}}>
            </button>
        </h4>
          <div class="collapse" id="collapseExample5">
            <div class="card card-body">
                <p class="test-secondary"><a class="b_press" href="/my_content/dogovor-01-new-2021.pdf" download="dogovor-01-new-2021.docx">Договор (место обучения УЦ АТБ)</a></p>
                <p class="test-secondary"><a class="b_press" href="/my_content/dogovor-02-new-2021.pdf" download="dogovor-02-new-2021.docx">Договор (место обучения Заказчика)</a></p>
        </div>
    </div>
</div>
{%endblock content%}