{% extends "base_education.html" %}
{% block title%}
{%endblock title%}
{%block content%}
<h3 class ="text-warning text-center mt-3 mb-3">Материально-техническое обеспечение</h3>
<div class="container">
    <div class="row">
        <p class="text-secondary"><strong>УЦ АТБ</strong> имеет собственную современную учебно-методическую и материальную базу. В аудиториях представлены макеты самодельных взрывных устройств, образцы боеприпасов, муляжи различных взрывчатых веществ, элементы взрывных устройств, холодного, пневматического и газового оружия и др. В центре собрана уникальная информация о способах сокрытия и проноса в охраняемые зоны опасных предметов и веществ, которые используются для совершения актов незаконного вмешательства.
        </p>
        <img src="{{url_for('static', filename='images/mat_tec1.jpg')}}" class="img-fluid w-100 mb-3">
        <p class="text-secondary"> В <strong>УЦ АТБ </strong>слушатели получают практические навыки производства досмотра с помощью технических средств досмотра: рентгенотелевизионного интроскопа, стационарного и ручного металлодетекторов, приборов определения следов взрывчатых веществ. С этой целью применяется компьютерная программа обучения OTS avsec – Premium Edition, благодаря которой каждый слушатель имеет возможность научиться под руководством опытного преподавателя (инструктора) самостоятельно выявлять запрещенные предметы и вещества на экране монитора компьютера.</strong></p>
    </div>
    <div class="row">
        <img src="{{url_for('static', filename='images/mat_tec2.jpg')}}"  class="img-fluid w-100 mb-3">
        <p class="text-secondary">В <strong> УЦ АТБ АО</strong> «Шереметьево Безопасность» также было разработано интерактивное учебное пособие для подготовки операторов РТИ, которое, по сути, является компьютерным тренажером.</p>
        <h5 class="text-secondary text-center">Тренажер используется, как дополнительный инструмент практической подготовки операторов РТИ.</h5>
        <p class="text-secondary">Тренажер содержит более 3000 фотографических изображений и рентгенограмм с опасными предметами и более 2000 фотографических изображений и рентгенограмм с безопасными предметами. Он имитирует работу на рентгенотелевизионном интроскопе и позволяет проводить групповые или индивидуальные занятия, под руководством преподавателя или самостоятельно.</p>
        <p class="text-secondary">При разработке Тренажера за основу были приняты принципы обучения и практического тренинга из OTS avsec, но его основное отличие состоит в том, что создавался он не профессиональными программистами, а профессиональными сотрудниками досмотра, имеющими большой стаж преподавательской деятельности и опыт работы непосредственно в пункте досмотра. Одним из преимуществ Тренажера является простота использования и мобильность.</p>
        <img src="{{url_for('static', filename='images/mat_tec3.jpg')}}">
    </div>
    <div class="row">
        <div class="col-xs-1" align="center">
        <h3 class="text-warning mt-5 mb-3"><strong>Документы</strong></h3>
        <p class="text-secondary"><a class="b_press" href="/my_content/Perechen-oborudovaniya-i-tehnicheskih-sredstv.pdf" download="Perechen-oborudovaniya-i-tehnicheskih-sredstv.pdf">Перечень оборудования и технических средств</a></p>
        <p class="text-secondary"><a class="b_press" href="/my_content/Opisanie-pomeshhenij-UC-ATB.pdf" download="Opisanie-pomeshhenij-UC-ATBБ.pdf">Описание помещений УЦ АТБ</a></p>
        </div>
    </div>
</div>

{%endblock content%}