{% extends 'base_passenger.html'%}
{% block title%}
{% endblock title%}
{% block content%}
<h3 class="text-warning mb-5 mt-5">Уважаемые пассажиры!</h3>
<div class="container">
    <div class="row">
        <p class="text-secondary">Обращаем Ваше внимание, что в соответствие с Правилами проведения предполетного и послеполетного досмотров (приказ Минтранса России от 25.07.2007 г. № 104) досмотр багажа может производиться как в присутствии пассажира, так и в его отсутствие с целью предотвращения допуска на борт воздушного судна запрещенных к провозу предметов и веществ. Таким образом, в случае Вашей неявки в помещение ручного досмотра Ваш багаж будет вскрыт инспектором по досмотру в присутствии свидетелей. Досмотр багажа, проведенный в отсутствие пассажира, оформляется актом досмотра багажа. Акт приобщается к багажу, досмотренному в отсутствии пассажира. Просим воздерживаться от запирания вашего багажа посредством кодовых замков и дополнительных приспособлений, которые могут затруднить доступ к содержимому.</p>
        <p class="text-secondary">В рамках процедур досмотра наряду с досмотром с помощью технических средств работниками подразделения безопасности используется визуальный осмотр материальных объектов досмотра (вещей, находящихся при посетителях аэропорта) и их содержимого с использованием ручного контактного метода досмотра (далее РКМ).</p>
        <p class="text-secondary"><strong>РКМ заключается в выявлении предметов и веществ, запрещенных или ограниченных к перемещению,  приведенных  в  Перечнях,  посредством  контакта  рук  работника  досмотра  с поверхностью материальных объектов досмотра.</strong></p>
        <p class="text-secondary">И проводится с целью выявления предметов и веществ, сокрытых в личных вещах, багаже, в одежде или под одеждой физических лиц (согласно перечню опасных веществ и предметов, запрещенных (разрешенных с соблюдением требуемых условий) к перевозке на транспортных средствах воздушного транспорта установленном приказом Минтранса России от 25 июля 2007 г. N 104).</p>
        <p class="text-secondary">Информируем Вас, что в соответствии с постановлением правительства РФ от 15 ноября 2014 г. N1208 и со статьей 8 Федерального закона "О транспортной безопасности" Правительство Российской Федерации постановляет:</p>
        <p class="text-secondary">Утверждены требования по соблюдению транспортной безопасности для физических лиц, следующих либо находящихся на объектах транспортной инфраструктуры:</p>
        <p class="text-secondary">Физические лица, следующие либо находящиеся на объекте транспортной инфраструктуры или транспортном средстве, обязаны осуществлять проход (проезд) в зону транспортной безопасности в соответствии с правилами проведения досмотра, дополнительного досмотра и повторного досмотра.</p>
        <p class="text-secondary"><strong>В случае отказа от досмотра или нарушении требований к вам может быть применена:</strong></p>
        <p class="text-secondary">- Административная ответственность (предусмотрена Кодексом РФ об административных нарушениях – КоАП РФ)</p>
        <p class="text-secondary">- Статья 11.15.1 КоАП РФ - Нарушение требований в области транспортной безопасности. Уголовная ответственность (предусмотрена Уголовным кодексом РФ – УК РФ)</p>
        <p class="text-secondary"- Статья 263.1 УК РФ - Нарушение требований в области транспортной безопасности.></p>
    </div>
    </div>
    </div>
</div>
{%endblock content%}