{% extends "base2.html" %}
{% block title%}
{%endblock title%}
{%block content%}

<h3 class="text-warning mb-5">Персонал предприятия</h3>
<div class="container">
 <div class="row">
    <p class="text-secondary"> Акционерное общество "Шереметьево Безопасность" осуществляет мероприятия по обеспечению авиационной безопасности в аэропорту Шереметьево в соответствии с правовыми, моральными и этическими стандартами, принципами и нормами, принятыми в Российской Федерации и в международном сообществе.</p>
    <p class="text-secondary">Кадровая стратегия Общества направлена на обеспечение устойчивого роста и укрепление позиций компании на рынке услуг в области обеспечения авиационной безопасности, достижение оптимальных рабочих показателей системы авиационной безопасности в международном аэропорту Шереметьево. Главной целью кадровой политики является достижение экономической эффективности по всем направлениям кадровой работы с персоналом. Основа политики – учет всех факторов, влияющих на мотивацию работника и стимулирование устойчивых и эффективных профессиональных результатов каждого работника.</p>
    <p class="text-secondary">Наличие у Общества собственного учебного центра по авиационной и транспортной безопасности (далее - УЦ АТБ) сертифицированного (свидетельство (сертификат)  авиационного учебного центра Федерального агентства воздушного транспорта Минтранса России №113 от 04 декабря 2017 года, Лицензия Министерства образования Московской области серия 50 Л 01 № 0009174 регистрационный № 77294 от 24 ноября  2017 года.), как образовательное учреждение дополнительного образования для осуществления подготовки и переподготовки специалистов по авиационной безопасности, обслуживающего персонала аэропортов, авиакомпаний, сотрудников МВД на транспорте, частных охранных предприятий, военизированной охраны и других организаций по вопросам обеспечения авиационной безопасности и охраны различных объектов позволяет:</p>
    <p class="text-secondary">  - реализовать поэтапную систему отбора кадров при найме на работу;</p>
    <p class="text-secondary">  - использовать комплекс мероприятий по профессиональной и социальной адаптации сотрудников предприятия, профессиональной подготовке и переподготовке специалистов в области авиационной безопасности. </p>
    <p class="text-secondary">УЦ АТБ транспортной безопасности при подготовке специалистов широко использует компьютерные программы подготовки и тестирования работников по выявлению взрывчатых веществ, взрывных устройств и других опасных предметов, и веществ, методологию ИКАО/ИАТА, аналогичных служб авиационной безопасности Великобритании, США, Сингапура, Ирландии и др., что позволяет готовить высококвалифицированных специалистов в области авиационной безопасности.</p>
    <p class="text-secondary">Выполнение задач по обеспечению авиационной безопасности в Международном аэропорту «Шереметьево» осуществляется высококвалифицированными работниками Общества.</p>
    <p class="text-secondary">Кадровый состав Общества отличает высокий образовательный уровень работников: работники с высшим образованием – 65%, работники со средним и средне-специальным образованием – 35%. Около 30% работников АО "Шереметьево Безопасность" имеют опыт работы в силовых структурах.</p>
    <p class="text-secondary">Менеджмент высшего звена Общества не только демонстрирует идеологическую приверженность к обеспечению защищенности гражданской авиации от незаконного вмешательства, но и принимает активное участие во всех организационных и эксплуатационных мероприятиях по ее совершенствованию:</p>
    <p class="text-secondary"> - модернизации технических средств обеспечения авиационной безопасности;</p>
    <p class="text-secondary"> - технологическом обеспечении;</p>
    <p class="text-secondary"> - управлении качеством предоставляемых услуг.</p>
    <p class="text-secondary"> Залогом успеха Общества и его процветания служит вовлеченность персонала в общее дело, забота о деловой репутации и следование стандартам корпоративной культуры.</p>
    
 </div>
 
</div>

{% endblock content%}