{% extends 'base2.html'%}
{% block title%}
{% endblock title%}
{% block content%}
<h3 class="text-warning mb-5">Процедура досмотра пассажиров с ограниченными возможностями здоровья</h3>
<div class="container">
    <p class="text-secondary">Процедура досмотра пассажиров с ограниченными возможностями здоровья</p>
    <p class="text-secondary">Если у Вас имплантирован аппарат, стимулирующий сердечную деятельность, Вы должны сообщить об этом до прохождения процедуры досмотра.
        Предоставить документ, подтверждающий наличие у Вас кардиостимулятора.
        После этого Вы можете пройти предполетный досмотр без применения технических и специальных средств.</p>
    <p class="text-secondary">Тяжелобольные пассажиры
        Больные на носилках
        Пассажиры с ограниченной подвижностью
        Имеют возможность пройти процедуру предполетного досмотра в медпунктах аэропорта:</p>
    <p class="text-secondary">В Терминале B
        1 этаж, 1-ый вход слева, комната 1.245
        +7 (495) 578 47 12
        +7 (926) 244 63 01</p>
    <p class="text-secondary">В Терминале D
        2 этаж, правое крыло, комната Г42415
        +7 (495) 578 03 31
        +7 (926) 244 48 24</p>
    <p class="text-secondary">В Терминале E
        1 этаж
        +7 (495) 578 02 82
        +7 (926) 244 49 65</p>
    <p class="text-secondary">В Терминале F
        1 этаж, левое крыло, комната 1.48
        +7 (495) 578 78 38
        +7 (926) 244 48 53</p>
    <p class="text-secondary">Досмотр пассажиров с ограниченными физическими возможностями на инвалидных колясках осуществляется с помощью ручного металлоискателя, детектора паров взрывчатых веществ и ручным (контактным) методом.</p>
    <p class="text-secondary">Если пассажир с ограниченными физическими возможностями на инвалидной коляске использует кардиостимулятор или иное медицинское оборудование, чувствительное к воздействию ручного металлоискателя, то досмотр осуществляется ручным (контактным) методом.</p>
    <p class="text-secondary">Подробная информация для пассажиров с ограниченными физическими возможностями, следующих из международного аэропорта Шереметьево -<a class="text-warning" href="https://www.svo.aero/ru/services/in-airport/help-for-people-with-special-needs">https://www.svo.aero/ru/services/in-airport/help-for-people-with-special-needs </a>.</p>
    <p class="text-secondary">Информация для пассажиров ОАО «Аэрофлот» -<a class="text-warning" href=" https://www.aeroflot.ru/ru-ru/information/preparation/special_transportation/disabled"> https://www.aeroflot.ru/ru-ru/information/preparation/special_transportation/disabled</a></p>
  
</div>
{%endblock content%}
