{% extends "base_passenger.html" %}
{% block title%}
{%endblock title%}
{%block content%}

<h3 class="text-warning mb-5">Все про условия и места хранения изъятых на предполетном досмотре вещей</h3>
<div class="container">
    <div class="row">
        <p class="text-secondary"><strong>Условия хранения изъятых вещей</strong></p>
        <p class="text-secondary">Обнаруженные и изъятые в процессе досмотра предметы и вещества, указанные в Акте (далее – вещи), принимаются на хранение Хранителем. Получение Вами Акта и настоящих Условий означает заключение договора хранения.</p>
    </div>
    <div class="row">
        <p class="text-secondary"><strong>Хранитель</strong></p>
        <p class="text-secondary">ООО «Упаковка Сервис», ОГРН 1167847500809</p>
    </div>
    <div class="row">
        <p class="text-secondary"><strong>Контактные данные</strong></p>
        <p class="text-secondary"> Международный аэропорт Шереметьево, Паркинг терминал С, этаж 4, комната 453, камера хранения; тел.: +7(812)4254326; email: keepit@packandfly.ru</p>
    </div>
    <div class="row">
        <p class="text-secondary"><strong>Режим работы</strong></p>
        <p class="text-secondary">Круглосуточно</p>
       
    </div>
    <div class="row">
        <p class="text-secondary"><strong>Стоимость услуг хранения</strong></p>
        <p class="text-secondary">Прием и оформление – 200 руб.</p>
        <p class="text-secondary">До 2-х суток хранения – бесплатно</p>
        <p class="text-secondary">За 3-и сутки хранения – 270 руб.</p>
        <p class="text-secondary">В сутки с 4-х суток хранения – 125 руб</p>
        <p class="text-secondary">Плата за хранение взимается за одну единицу хранения за каждые сутки (с 00:00 до 23:59) с даты Акта. Одной единицей хранения признается вещь или вещи, оформленные одним Актом. Неполные сутки хранения приравниваются к полным, независимо от фактического времени хранения.</p>
    </div>
    <div class="row">
        <p class="text-secondary"><strong>Срок хранения</strong></p>
        <p class="text-secondary">Вещи хранятся до востребования гражданином в течение 90 дней с даты оформления Акта. По истечении 90 дней Хранитель вправе уничтожить или реализовать вещи без возмещения гражданину убытков.</p>
    </div>
    <div class="row">
        <p class="text-secondary"><strong>Порядок получения вещей</strong></p>
        <p class="text-secondary">Для получения вещей необходимо предъявить паспорт (или паспорт и доверенность при получении вещи представителем), Акт и оплатить хранение.</p>
        <p class="text-secondary"В случае утраты Акта вещи выдаются на основании письменного заявления гражданина (или его представителя) при условии предъявления паспорта (или паспорта и доверенности при получении вещи представителем) и доказательства принадлежности вещи гражданину.></p>
        <p class="text-secondary">Вещи из камеры хранения выдаются вне очереди.</p>
        <p class="text-secondary">Для возврата вещей без посещения камеры хранения можно воспользоваться услугой доставки. По вопросам оформления доставки, получения информации о сроках и стоимости доставки обращаться по телефону: +7(812)4254326.</p>
    </div>
    <div class="row">
        <p class="text-secondary"><strong>Спецхранение</strong></p>
        <p class="text-secondary">Хранитель не несет ответственности за надлежащее хранение вещей, требующих специальных условий хранения (температурный режим, влажность и пр.)</p>
    </div>
</div>
{% endblock content%}