{% extends 'base_passenger.html'%}
{% block title%}
{% endblock title%}
{% block content%}

<h3 class="text-warning mb-5">Досмотр при входе в терминал</h3>
<div class="container">
   <p class="text-secondary">Пассажирам с <strong>электронными посадочными талонами</strong> при прохождении предполётного досмотра необходимо выполнить следующие действия:</p>
   <p class="text-secondary">- самостоятельно отсканировать штрих код с мобильного устройства на стойке проверки документов перед зоной контроля (пунктом досмотра) при помощи считывающего устройства;</p>
   <p class="text-secondary">- предъявить инспектору по досмотру документы, удостоверяющие личность (паспорт, свидетельство о рождении и т.п.);</p>
   <p class="text-secondary">- после проверки документов пройти в зону контроля (пункт досмотра) для дальнейшего прохождения предполётного досмотра.</p>
   <p class="text-secondary">Подробную информацию по использованию электронного посадочного талона Вы можете найти на сайте международного аэропорта Шереметьево пройдя по прямой ссылке <a  class="text-warning"href="https://www.svo.aero/ru/passengers/registration/electronic-pass">https://www.svo.aero/ru/passengers/registration/electronic-pass</a></p>
</div>
{%endblock content%}
