









<a href="#shortExampleAnswer47collapse" data-mdb-collapse-init aria-expanded="false" data-bs-toggle="collapse" data-bs-target="#shortExampleAnswer47collapse"
            aria-controls="shortExampleAnswer47collapse" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"></h5>
            </div>
            <hr>
            <p class="mb-1 text-secondary">
           
            </p>
            <small class="text-muted text-warning"><u>Подробнее</u></small>
            <!-- Collapsed content -->
            <div class="collapse mt-3" id="shortExampleAnswer47collapse">
              <p class="text-secondary"></p>
            </div>
          </a>
<a href="#shortExampleAnswer48collapse" data-mdb-collapse-init aria-expanded="false" data-bs-toggle="collapse" data-bs-target="#shortExampleAnswer48collapse"
          aria-controls="shortExampleAnswer48collapse" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"></h5>
          </div>
          <hr>
          <p class="mb-1 text-secondary">
         
          </p>
          <small class="text-muted text-warning"><u>Подробнее</u></small>
          <!-- Collapsed content -->
          <div class="collapse mt-3" id="shortExampleAnswer48collapse">
            <p class="text-secondary"></p>
          </div>
        </a>
<a href="#shortExampleAnswer49collapse" data-mdb-collapse-init aria-expanded="false" data-bs-toggle="collapse" data-bs-target="#shortExampleAnswer49collapse"
        aria-controls="shortExampleAnswer49collapse" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"></h5>
        </div>
        <hr>
        <p class="mb-1 text-secondary">
       
        </p>
        <small class="text-muted text-warning"><u>Подробнее</u></small>
        <!-- Collapsed content -->
        <div class="collapse mt-3" id="shortExampleAnswer49collapse">
          <p class="text-secondary"></p>
        </div>
      </a>


