{% extends "base_education.html" %}
{% block title%}
{%endblock title%}
{%block content%}
<h3 class ="text-warning text-center mt-3 mb-3">Платные образовательные услуги</h3>
<div class="container">
    <div class="row">
        <p class="text-secondary">Учебный центр по авиационной и транспортной безопасности АО «Шереметьево Безопасность» оказывает платные образовательные услуги на основании Лицензии Министерства образования Московской области серия 50Л01 № 0010375 peг. № 78495 от 24 сентября 2020 года и Свидетельства (сертификата) авиационного учебного центра №113 от 22 октября 2020 года Федерального агентства воздушного транспорта Минтранса России.</p>
    </div>
    <div class="row">
        <p class="text-secondary">Платные образовательные услуги осуществляются на основании плана обучения на год, а также на основании договоров на оказание образовательных услуг, заключаемых АО «Шереметьево Безопасность» с внешними заказчиками обучения.</p>
    </div>
</div>
<h3 class ="text-warning text-center mt-3 mb-3">Финансово-хозяйственная деятельность</h3>
<div class="container ">
    <div class="row">
        <p class="text-secondary">Финансово-хозяйственная деятельность осуществляется в рамках бюджета АО "Шереметьево Безопасность".</p>
    </div>
</div>
{%endblock content%}